# 데이터 불러오기

In [2]:
import pandas as pd

pd.options.display.float_format = '{:.3f}'.format
pd.set_option('display.max_columns', None)

In [3]:
import os
PATH = './data/'

file_list= os.listdir(PATH)
csv_list = list()

for file in file_list:
    if file.split(".")[-1] == 'csv':
        csv_list.append(file)
data = ['living_popul', 'resident_popul', 'area', 'store', 'working_popul', 'facilitie', 'estimated_sales']

for name, file in zip(data, csv_list):
    globals()[name] = pd.read_csv(PATH + file, encoding = "ansi")

store = store.drop("Unnamed: 0", axis = 1)
estimated_sales = estimated_sales.drop("Unnamed: 0", axis = 1)

# EDA
living_population.info()
living_popul.isnull().sum()
living_popul.describe()

## 길단위인구

In [4]:
living_popul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29697 entries, 0 to 29696
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   기준_년분기_코드         29697 non-null  int64
 1   상권_구분_코드_명        29697 non-null  object
 2   상권_코드_명           29697 non-null  object
 3   총_유동인구_수          29697 non-null  int64
 4   남성_유동인구_수         29697 non-null  int64
 5   여성_유동인구_수         29697 non-null  int64
 6   연령대_10_유동인구_수     29697 non-null  int64
 7   연령대_20_유동인구_수     29697 non-null  int64
 8   연령대_30_유동인구_수     29697 non-null  int64
 9   연령대_40_유동인구_수     29697 non-null  int64
 10  연령대_50_유동인구_수     29697 non-null  int64
 11  연령대_60_이상_유동인구_수  29697 non-null  int64
 12  시간대_00_06_유동인구_수  29697 non-null  int64
 13  시간대_06_11_유동인구_수  29697 non-null  int64
 14  시간대_11_14_유동인구_수  29697 non-null  int64
 15  시간대_14_17_유동인구_수  29697 non-null  int64
 16  시간대_17_21_유동인구_수  29697 non-null  int64
 17  시간대_21_24_유동인구_수  29697 non-null  int64
 18  월요일_유동인구_수        29697 non-null  int64
 19  화요일_유동인구_수        29697 non-null  int64
 20  수요일_유동인구_수        29697 non-null  int64
 21  목요일_유동인구_수        29697 non-null  int64
 22  금요일_유동인구_수        29697 non-null  int64
 23  토요일_유동인구_수        29697 non-null  int64
 24  일요일_유동인구_수        29697 non-null  int64
dtypes: int64(23), object(2)
memory usage: 5.7+ MB

In [5]:
living_popul.isnull().sum()

기준_년분기_코드           0
상권_구분_코드_명          0
상권_코드_명             0
총_유동인구_수            0
남성_유동인구_수           0
여성_유동인구_수           0
연령대_10_유동인구_수       0
연령대_20_유동인구_수       0
연령대_30_유동인구_수       0
연령대_40_유동인구_수       0
연령대_50_유동인구_수       0
연령대_60_이상_유동인구_수    0
시간대_00_06_유동인구_수    0
시간대_06_11_유동인구_수    0
시간대_11_14_유동인구_수    0
시간대_14_17_유동인구_수    0
시간대_17_21_유동인구_수    0
시간대_21_24_유동인구_수    0
월요일_유동인구_수          0
화요일_유동인구_수          0
수요일_유동인구_수          0
목요일_유동인구_수          0
금요일_유동인구_수          0
토요일_유동인구_수          0
일요일_유동인구_수          0
dtype: int64

In [6]:
living_popul.describe()

,기준_년분기_코드,총_유동인구_수,남성_유동인구_수,여성_유동인구_수,연령대_10_유동인구_수,연령대_20_유동인구_수,연령대_30_유동인구_수,연령대_40_유동인구_수,연령대_50_유동인구_수,연령대_60_이상_유동인구_수,시간대_00_06_유동인구_수,시간대_06_11_유동인구_수,시간대_11_14_유동인구_수,시간대_14_17_유동인구_수,시간대_17_21_유동인구_수,시간대_21_24_유동인구_수,월요일_유동인구_수,화요일_유동인구_수,수요일_유동인구_수,목요일_유동인구_수,금요일_유동인구_수,토요일_유동인구_수,일요일_유동인구_수
count,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000
mean,20210.165,849217.987,404971.270,444246.732,108673.070,148973.201,148289.672,135170.407,123309.663,184802.052,203800.421,172940.710,109577.727,110729.237,147129.064,105040.900,121943.887,122632.544,122783.235,122711.182,122494.164,119253.399,117399.659
std,13.005,900861.874,438111.228,466613.121,115374.084,208560.138,178913.250,148411.424,129136.332,191047.747,215107.128,179918.266,132977.721,136754.309,167214.920,110024.962,130296.575,132288.627,132463.082,132664.958,132914.810,125689.980,120948.568
min,20191.000,12.000,12.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,4.000,5.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
25%,20201.000,239327.000,113706.000,124188.000,27047.000,34230.000,37872.000,38613.000,35226.000,50992.000,50676.000,48650.000,30552.000,30828.000,41091.000,27878.000,34231.000,34320.000,34408.000,34375.000,34290.000,32940.000,32515.000
50%,20211.000,586127.000,278176.000,305876.000,73190.000,87095.000,95816.000,92482.000,84841.000,129419.000,135331.000,119947.000,74229.000,74596.000,99182.000,71533.000,84182.000,84419.000,84641.000,84498.000,84212.000,82137.000,80924.000
75%,20222.000,1161575.000,552521.000,608168.000,152237.000,186438.000,191694.000,183294.000,171928.000,258293.000,285456.000,238004.000,144099.000,144545.000,197986.000,145049.000,167551.000,168174.000,168155.000,168030.000,167162.000,163242.000,161435.000
max,20232.000,10936954.000,5904661.000,5075322.000,2025696.000,3487417.000,2147251.000,1926666.000,1896481.000,2789894.000,2637438.000,1947241.000,2251342.000,2437343.000,2319158.000,1092221.000,1636435.000,1723636.000,1730759.000,1783350.000,1802017.000,1425047.000,1338150.000

In [7]:
cols = list(living_popul.columns)

for i in cols:
    print(f"{i} : {len(living_popul[living_popul[i] == 0])}")

기준_년분기_코드 : 0
상권_구분_코드_명 : 0
상권_코드_명 : 0
총_유동인구_수 : 0
남성_유동인구_수 : 0
여성_유동인구_수 : 3
연령대_10_유동인구_수 : 17
연령대_20_유동인구_수 : 7
연령대_30_유동인구_수 : 6
연령대_40_유동인구_수 : 3
연령대_50_유동인구_수 : 3
연령대_60_이상_유동인구_수 : 2
시간대_00_06_유동인구_수 : 7
시간대_06_11_유동인구_수 : 0
시간대_11_14_유동인구_수 : 0
시간대_14_17_유동인구_수 : 1
시간대_17_21_유동인구_수 : 3
시간대_21_24_유동인구_수 : 18
월요일_유동인구_수 : 2
화요일_유동인구_수 : 2
수요일_유동인구_수 : 1
목요일_유동인구_수 : 1
금요일_유동인구_수 : 3
토요일_유동인구_수 : 2
일요일_유동인구_수 : 3

## 상주인구

In [8]:
resident_popul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24486 entries, 0 to 24485
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   기준_년분기_코드           24486 non-null  int64
 1   상권_구분_코드_명          24486 non-null  object
 2   상권_코드_명             24486 non-null  object
 3   총_상주인구_수            24486 non-null  int64
 4   남성_상주인구_수           24486 non-null  int64
 5   여성_상주인구_수           24486 non-null  int64
 6   연령대_10_상주인구_수       24486 non-null  int64
 7   연령대_20_상주인구_수       24486 non-null  int64
 8   연령대_30_상주인구_수       24486 non-null  int64
 9   연령대_40_상주인구_수       24486 non-null  int64
 10  연령대_50_상주인구_수       24486 non-null  int64
 11  연령대_60_이상_상주인구_수    24486 non-null  int64
 12  남성연령대_10_상주인구_수     24486 non-null  int64
 13  남성연령대_20_상주인구_수     24486 non-null  int64
 14  남성연령대_30_상주인구_수     24486 non-null  int64
 15  남성연령대_40_상주인구_수     24486 non-null  int64
 16  남성연령대_50_상주인구_수     24486 non-null  int64
 17  남성연령대_60_이상_상주인구_수  24486 non-null  int64
 18  여성연령대_10_상주인구_수     24486 non-null  int64
 19  여성연령대_20_상주인구_수     24486 non-null  int64
 20  여성연령대_30_상주인구_수     24486 non-null  int64
 21  여성연령대_40_상주인구_수     24486 non-null  int64
 22  여성연령대_50_상주인구_수     24486 non-null  int64
 23  여성연령대_60_이상_상주인구_수  24486 non-null  int64
 24  총_가구_수              24486 non-null  int64
 25  아파트_가구_수            24486 non-null  int64
 26  비_아파트_가구_수          24486 non-null  int64
dtypes: int64(25), object(2)
memory usage: 5.0+ MB

In [9]:
resident_popul.isnull().sum()

기준_년분기_코드             0
상권_구분_코드_명            0
상권_코드_명               0
총_상주인구_수              0
남성_상주인구_수             0
여성_상주인구_수             0
연령대_10_상주인구_수         0
연령대_20_상주인구_수         0
연령대_30_상주인구_수         0
연령대_40_상주인구_수         0
연령대_50_상주인구_수         0
연령대_60_이상_상주인구_수      0
남성연령대_10_상주인구_수       0
남성연령대_20_상주인구_수       0
남성연령대_30_상주인구_수       0
남성연령대_40_상주인구_수       0
남성연령대_50_상주인구_수       0
남성연령대_60_이상_상주인구_수    0
여성연령대_10_상주인구_수       0
여성연령대_20_상주인구_수       0
여성연령대_30_상주인구_수       0
여성연령대_40_상주인구_수       0
여성연령대_50_상주인구_수       0
여성연령대_60_이상_상주인구_수    0
총_가구_수                0
아파트_가구_수              0
비_아파트_가구_수            0
dtype: int64

In [10]:
resident_popul.describe()

,기준_년분기_코드,총_상주인구_수,남성_상주인구_수,여성_상주인구_수,연령대_10_상주인구_수,연령대_20_상주인구_수,연령대_30_상주인구_수,연령대_40_상주인구_수,연령대_50_상주인구_수,연령대_60_이상_상주인구_수,남성연령대_10_상주인구_수,남성연령대_20_상주인구_수,남성연령대_30_상주인구_수,남성연령대_40_상주인구_수,남성연령대_50_상주인구_수,남성연령대_60_이상_상주인구_수,여성연령대_10_상주인구_수,여성연령대_20_상주인구_수,여성연령대_30_상주인구_수,여성연령대_40_상주인구_수,여성연령대_50_상주인구_수,여성연령대_60_이상_상주인구_수,총_가구_수,아파트_가구_수,비_아파트_가구_수
count,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000
mean,20213.785,2370.402,1165.946,1204.455,251.370,391.831,401.826,355.496,372.310,597.570,128.947,187.724,206.922,182.484,186.751,273.118,122.422,204.107,194.903,173.011,185.559,324.452,1254.353,0.000,1254.353
std,11.114,2330.524,1144.847,1192.085,283.494,440.017,438.885,365.876,373.136,591.028,145.620,207.390,226.066,186.616,184.754,269.621,138.541,239.475,216.629,181.468,190.638,323.218,1225.015,0.000,1225.015
min,20194.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,0.000,1.000
25%,20203.000,668.000,330.000,333.000,58.000,92.000,98.000,95.000,98.000,163.000,29.000,45.000,51.000,49.000,51.000,76.000,28.000,46.000,47.000,44.000,46.000,87.000,362.250,0.000,362.250
50%,20213.000,1655.000,818.000,837.000,161.000,255.000,264.000,239.000,257.000,418.000,82.000,124.000,137.000,125.000,130.000,190.000,78.000,129.000,126.000,115.000,125.000,225.000,884.000,0.000,884.000
75%,20223.000,3361.000,1641.000,1717.000,348.000,537.000,557.000,493.000,529.000,842.000,180.000,261.000,286.000,254.000,265.000,386.000,168.000,274.000,266.000,242.750,263.000,459.000,1765.000,0.000,1765.000
max,20232.000,21341.000,10459.000,10882.000,3301.000,4457.000,4207.000,4280.000,3161.000,5181.000,1662.000,2161.000,2148.000,2235.000,1577.000,2260.000,1639.000,2812.000,2070.000,2045.000,1603.000,2921.000,8900.000,0.000,8900.000

In [11]:
cols = list(resident_popul.columns)

for i in cols:
    print(f"{i} : {len(resident_popul[resident_popul[i] == 0])}")

기준_년분기_코드 : 0
상권_구분_코드_명 : 0
상권_코드_명 : 0
총_상주인구_수 : 0
남성_상주인구_수 : 15
여성_상주인구_수 : 118
연령대_10_상주인구_수 : 591
연령대_20_상주인구_수 : 359
연령대_30_상주인구_수 : 240
연령대_40_상주인구_수 : 192
연령대_50_상주인구_수 : 139
연령대_60_이상_상주인구_수 : 81
남성연령대_10_상주인구_수 : 827
남성연령대_20_상주인구_수 : 462
남성연령대_30_상주인구_수 : 330
남성연령대_40_상주인구_수 : 307
남성연령대_50_상주인구_수 : 193
남성연령대_60_이상_상주인구_수 : 123
여성연령대_10_상주인구_수 : 830
여성연령대_20_상주인구_수 : 660
여성연령대_30_상주인구_수 : 520
여성연령대_40_상주인구_수 : 475
여성연령대_50_상주인구_수 : 354
여성연령대_60_이상_상주인구_수 : 225
총_가구_수 : 0
아파트_가구_수 : 24486
비_아파트_가구_수 : 0

## 영역

In [12]:
area.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1650 entries, 0 to 1649
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   상권_구분_코드_명  1650 non-null   object
 1   상권_코드_명     1650 non-null   object
 2   엑스좌표_값      1650 non-null   int64
 3   와이좌표_값      1650 non-null   int64
 4   자치구_코드_명    1650 non-null   object
 5   행정동_코드_명    1650 non-null   object
 6   영역_면적       1650 non-null   int64
dtypes: int64(3), object(4)
memory usage: 90.4+ KB

In [13]:
area.isnull().sum()

상권_구분_코드_명    0
상권_코드_명       0
엑스좌표_값        0
와이좌표_값        0
자치구_코드_명      0
행정동_코드_명      0
영역_면적         0
dtype: int64

In [14]:
area.describe()

          엑스좌표_값     와이좌표_값       영역_면적
count   1650.000   1650.000    1650.000
mean  198981.845 449875.452   99927.952
std     7280.721   5590.503  118818.943
min   182509.000 437249.000    1854.000
25%   192815.250 445178.500   35330.000
50%   200096.000 449849.500   71927.500
75%   204366.250 453563.500  128147.250
max   215352.000 465573.000 2462734.000

## 점포

In [15]:
store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1360270 entries, 0 to 1360269
Data columns (total 11 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   기준_년분기_코드    1360270 non-null  int64
 1   상권_구분_코드_명   1360270 non-null  object
 2   상권_코드_명      1360270 non-null  object
 3   서비스_업종_코드_명  1360270 non-null  object
 4   점포_수         1360270 non-null  int64
 5   유사_업종_점포_수   1360270 non-null  int64
 6   개업_율         1360270 non-null  int64
 7   개업_점포_수      1360270 non-null  int64
 8   폐업_률         1360270 non-null  int64
 9   폐업_점포_수      1360270 non-null  int64
 10  프랜차이즈_점포_수   1360270 non-null  int64
dtypes: int64(8), object(3)
memory usage: 114.2+ MB

In [16]:
store.isnull().sum()

기준_년분기_코드      0
상권_구분_코드_명     0
상권_코드_명        0
서비스_업종_코드_명    0
점포_수           0
유사_업종_점포_수     0
개업_율           0
개업_점포_수        0
폐업_률           0
폐업_점포_수        0
프랜차이즈_점포_수     0
dtype: int64

In [17]:
store.describe()

,기준_년분기_코드,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
count,1360270.000,1360270.000,1360270.000,1360270.000,1360270.000,1360270.000,1360270.000,1360270.000
mean,20210.265,5.990,6.459,2.842,0.190,2.304,0.163,0.468
std,12.995,45.574,45.954,12.092,1.220,12.103,1.258,2.308
min,20191.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
25%,20201.000,1.000,1.000,0.000,0.000,0.000,0.000,0.000
50%,20212.000,2.000,2.000,0.000,0.000,0.000,0.000,0.000
75%,20222.000,4.000,5.000,0.000,0.000,0.000,0.000,0.000
max,20232.000,10249.000,10268.000,200.000,479.000,4800.000,421.000,127.000

In [18]:
cols = list(store.columns)

for i in cols:
    print(f"{i} : {len(store[store[i] == 0])}")

기준_년분기_코드 : 0
상권_구분_코드_명 : 0
상권_코드_명 : 0
서비스_업종_코드_명 : 0
점포_수 : 51807
유사_업종_점포_수 : 9661
개업_율 : 1203440
개업_점포_수 : 1203141
폐업_률 : 1227808
폐업_점포_수 : 1218258
프랜차이즈_점포_수 : 1148150

## 직장인구

In [19]:
working_popul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25989 entries, 0 to 25988
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   기준_년분기_코드            25989 non-null  int64
 1   상권_구분_코드_명           25989 non-null  object
 2   상권_코드_명              25989 non-null  object
 3   총_직장_인구_수            25989 non-null  int64
 4   남성_직장_인구_수           25989 non-null  int64
 5   여성_직장_인구_수           25989 non-null  int64
 6   연령대_10_직장_인구_수       25989 non-null  int64
 7   연령대_20_직장_인구_수       25989 non-null  int64
 8   연령대_30_직장_인구_수       25989 non-null  int64
 9   연령대_40_직장_인구_수       25989 non-null  int64
 10  연령대_50_직장_인구_수       25989 non-null  int64
 11  연령대_60_이상_직장_인구_수    25989 non-null  int64
 12  남성연령대_10_직장_인구_수     25989 non-null  int64
 13  남성연령대_20_직장_인구_수     25989 non-null  int64
 14  남성연령대_30_직장_인구_수     25989 non-null  int64
 15  남성연령대_40_직장_인구_수     25989 non-null  int64
 16  남성연령대_50_직장_인구_수     25989 non-null  int64
 17  남성연령대_60_이상_직장_인구_수  25989 non-null  int64
 18  여성연령대_10_직장_인구_수     25989 non-null  int64
 19  여성연령대_20_직장_인구_수     25989 non-null  int64
 20  여성연령대_30_직장_인구_수     25989 non-null  int64
 21  여성연령대_40_직장_인구_수     25989 non-null  int64
 22  여성연령대_50_직장_인구_수     25989 non-null  int64
 23  여성연령대_60_이상_직장_인구_수  25989 non-null  int64
dtypes: int64(22), object(2)
memory usage: 4.8+ MB

In [20]:
working_popul.isnull().sum()

기준_년분기_코드              0
상권_구분_코드_명             0
상권_코드_명                0
총_직장_인구_수              0
남성_직장_인구_수             0
여성_직장_인구_수             0
연령대_10_직장_인구_수         0
연령대_20_직장_인구_수         0
연령대_30_직장_인구_수         0
연령대_40_직장_인구_수         0
연령대_50_직장_인구_수         0
연령대_60_이상_직장_인구_수      0
남성연령대_10_직장_인구_수       0
남성연령대_20_직장_인구_수       0
남성연령대_30_직장_인구_수       0
남성연령대_40_직장_인구_수       0
남성연령대_50_직장_인구_수       0
남성연령대_60_이상_직장_인구_수    0
여성연령대_10_직장_인구_수       0
여성연령대_20_직장_인구_수       0
여성연령대_30_직장_인구_수       0
여성연령대_40_직장_인구_수       0
여성연령대_50_직장_인구_수       0
여성연령대_60_이상_직장_인구_수    0
dtype: int64

In [21]:
working_popul.describe()

,기준_년분기_코드,총_직장_인구_수,남성_직장_인구_수,여성_직장_인구_수,연령대_10_직장_인구_수,연령대_20_직장_인구_수,연령대_30_직장_인구_수,연령대_40_직장_인구_수,연령대_50_직장_인구_수,연령대_60_이상_직장_인구_수,남성연령대_10_직장_인구_수,남성연령대_20_직장_인구_수,남성연령대_30_직장_인구_수,남성연령대_40_직장_인구_수,남성연령대_50_직장_인구_수,남성연령대_60_이상_직장_인구_수,여성연령대_10_직장_인구_수,여성연령대_20_직장_인구_수,여성연령대_30_직장_인구_수,여성연령대_40_직장_인구_수,여성연령대_50_직장_인구_수,여성연령대_60_이상_직장_인구_수
count,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000
mean,20212.358,1811.118,1060.121,750.997,7.858,344.907,506.540,443.660,327.295,180.859,3.362,150.044,296.656,283.567,205.259,121.233,4.495,194.863,209.884,160.092,122.036,59.626
std,12.108,6487.464,3801.180,2787.647,44.467,1425.882,2053.807,1647.218,1066.792,468.387,19.451,603.798,1199.913,1096.211,699.621,308.133,25.992,853.122,890.728,586.563,434.896,178.393
min,20191.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
25%,20202.000,111.000,55.000,44.000,0.000,11.000,20.000,27.000,25.000,17.000,0.000,4.000,10.000,14.000,13.000,10.000,0.000,5.000,8.000,11.000,10.000,4.000
50%,20212.000,321.000,177.000,130.000,0.000,35.000,58.000,75.000,75.000,48.000,0.000,14.000,31.000,42.000,41.000,32.000,0.000,20.000,25.000,32.000,30.000,14.000
75%,20222.000,894.000,528.000,351.000,3.000,126.000,200.000,210.000,196.000,136.000,1.000,55.000,117.000,129.000,118.000,97.000,1.000,64.000,80.000,82.000,71.000,40.000
max,20232.000,174313.000,85786.000,92086.000,1365.000,43472.000,57809.000,42869.000,23136.000,9357.000,604.000,14967.000,28790.000,24162.000,16294.000,6577.000,762.000,29698.000,32760.000,19197.000,10550.000,3412.000

In [22]:
cols = list(working_popul.columns)

for i in cols:
    print(f"{i} : {len(working_popul[(working_popul[i] == 1) | (working_popul[i] == 0)])}")

기준_년분기_코드 : 0
상권_구분_코드_명 : 0
상권_코드_명 : 0
총_직장_인구_수 : 30
남성_직장_인구_수 : 151
여성_직장_인구_수 : 169
연령대_10_직장_인구_수 : 17585
연령대_20_직장_인구_수 : 1767
연령대_30_직장_인구_수 : 877
연령대_40_직장_인구_수 : 474
연령대_50_직장_인구_수 : 304
연령대_60_이상_직장_인구_수 : 802
남성연령대_10_직장_인구_수 : 19840
남성연령대_20_직장_인구_수 : 3604
남성연령대_30_직장_인구_수 : 1745
남성연령대_40_직장_인구_수 : 1095
남성연령대_50_직장_인구_수 : 806
남성연령대_60_이상_직장_인구_수 : 1206
여성연령대_10_직장_인구_수 : 20258
여성연령대_20_직장_인구_수 : 2985
여성연령대_30_직장_인구_수 : 1900
여성연령대_40_직장_인구_수 : 1323
여성연령대_50_직장_인구_수 : 1311
여성연령대_60_이상_직장_인구_수 : 3009

## 집객시설

In [23]:
facilitie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17358 entries, 0 to 17357
Data columns (total 23 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   기준_년분기_코드   17358 non-null  int64
 1   상권_구분_코드_명  17358 non-null  object
 2   상권_코드_명     17358 non-null  object
 3   집객시설_수      17358 non-null  int64
 4   관공서_수       6930 non-null   float64
 5   은행_수        5357 non-null   float64
 6   종합병원_수      253 non-null    float64
 7   일반_병원_수     1452 non-null   float64
 8   약국_수        11099 non-null  float64
 9   유치원_수       1661 non-null   float64
 10  초등학교_수      143 non-null    float64
 11  중학교_수       44 non-null     float64
 12  고등학교_수      121 non-null    float64
 13  대학교_수       924 non-null    float64
 14  백화점_수       121 non-null    float64
 15  슈퍼마켓_수      1155 non-null   float64
 16  극장_수        924 non-null    float64
 17  숙박_시설_수     1595 non-null   float64
 18  공항_수        11 non-null     float64
 19  철도_역_수      0 non-null      float64
 20  버스_터미널_수    22 non-null     float64
 21  지하철_역_수     2145 non-null   float64
 22  버스_정거장_수    13970 non-null  float64
dtypes: float64(19), int64(2), object(2)
memory usage: 3.0+ MB

In [24]:
facilitie.isnull().sum()

기준_년분기_코드         0
상권_구분_코드_명        0
상권_코드_명           0
집객시설_수            0
관공서_수         10428
은행_수          12001
종합병원_수        17105
일반_병원_수       15906
약국_수           6259
유치원_수         15697
초등학교_수        17215
중학교_수         17314
고등학교_수        17237
대학교_수         16434
백화점_수         17237
슈퍼마켓_수        16203
극장_수          16434
숙박_시설_수       15763
공항_수          17347
철도_역_수        17358
버스_터미널_수      17336
지하철_역_수       15213
버스_정거장_수       3388
dtype: int64

In [25]:
facilitie.describe()

,기준_년분기_코드,집객시설_수,관공서_수,은행_수,종합병원_수,일반_병원_수,약국_수,유치원_수,초등학교_수,중학교_수,고등학교_수,대학교_수,백화점_수,슈퍼마켓_수,극장_수,숙박_시설_수,공항_수,철도_역_수,버스_터미널_수,지하철_역_수,버스_정거장_수
count,17358.000,17358.000,6930.000,5357.000,253.000,1452.000,11099.000,1661.000,143.000,44.000,121.000,924.000,121.000,1155.000,924.000,1595.000,11.000,0.000,22.000,2145.000,13970.000
mean,20218.818,20.871,1.741,3.287,1.043,1.280,3.690,1.166,1.000,1.000,1.182,1.643,1.091,1.533,1.357,2.317,4.000,NaN,1.000,1.421,4.841
std,8.343,32.261,1.272,4.677,0.204,0.607,4.532,0.569,0.000,0.000,0.577,1.232,0.289,1.220,0.766,2.570,0.000,NaN,0.000,0.743,5.097
min,20204.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,4.000,NaN,1.000,1.000,1.000
25%,20212.000,5.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,4.000,NaN,1.000,1.000,2.000
50%,20221.000,12.000,1.000,2.000,1.000,1.000,2.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,4.000,NaN,1.000,1.000,3.000
75%,20224.000,23.000,2.000,4.000,1.000,1.000,4.000,1.000,1.000,1.000,1.000,2.000,1.000,2.000,1.000,2.000,4.000,NaN,1.000,2.000,6.000
max,20232.000,594.000,14.000,57.000,2.000,4.000,52.000,6.000,1.000,1.000,3.000,7.000,2.000,8.000,5.000,18.000,4.000,NaN,1.000,5.000,85.000

In [26]:
cols = list(facilitie.columns)

for i in cols:
    print(f"{i} : {len(facilitie[(facilitie[i] == 1)])}")

기준_년분기_코드 : 0
상권_구분_코드_명 : 0
상권_코드_명 : 0
집객시설_수 : 836
관공서_수 : 4103
은행_수 : 2618
종합병원_수 : 242
일반_병원_수 : 1155
약국_수 : 3828
유치원_수 : 1463
초등학교_수 : 143
중학교_수 : 44
고등학교_수 : 110
대학교_수 : 638
백화점_수 : 110
슈퍼마켓_수 : 858
극장_수 : 704
숙박_시설_수 : 891
공항_수 : 0
철도_역_수 : 0
버스_터미널_수 : 22
지하철_역_수 : 1485
버스_정거장_수 : 2684

## 추정매출

In [27]:
estimated_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204097 entries, 0 to 204096
Data columns (total 52 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   기준_년분기_코드        204097 non-null  int64
 1   상권_구분_코드_명       204097 non-null  object
 2   상권_코드_명          204097 non-null  object
 3   서비스_업종_코드_명      204097 non-null  object
 4   당월_매출_금액         204097 non-null  float64
 5   당월_매출_건수         204097 non-null  int64
 6   주중_매출_금액         204097 non-null  float64
 7   주말_매출_금액         204097 non-null  float64
 8   월요일_매출_금액        204097 non-null  float64
 9   화요일_매출_금액        204097 non-null  float64
 10  수요일_매출_금액        204097 non-null  float64
 11  목요일_매출_금액        204097 non-null  float64
 12  금요일_매출_금액        204097 non-null  float64
 13  토요일_매출_금액        204097 non-null  float64
 14  일요일_매출_금액        204097 non-null  float64
 15  시간대_00~06_매출_금액  204097 non-null  float64
 16  시간대_06~11_매출_금액  204097 non-null  float64
 17  시간대_11~14_매출_금액  204097 non-null  float64
 18  시간대_14~17_매출_금액  204097 non-null  float64
 19  시간대_17~21_매출_금액  204097 non-null  float64
 20  시간대_21~24_매출_금액  204097 non-null  int64
 21  남성_매출_금액         204097 non-null  float64
 22  여성_매출_금액         204097 non-null  float64
 23  연령대_10_매출_금액     204097 non-null  int64
 24  연령대_20_매출_금액     204097 non-null  int64
 25  연령대_30_매출_금액     204097 non-null  float64
 26  연령대_40_매출_금액     204097 non-null  float64
 27  연령대_50_매출_금액     204097 non-null  float64
 28  연령대_60_이상_매출_금액  204097 non-null  float64
 29  주중_매출_건수         204097 non-null  int64
 30  주말_매출_건수         204097 non-null  int64
 31  월요일_매출_건수        204097 non-null  int64
 32  화요일_매출_건수        204097 non-null  int64
 33  수요일_매출_건수        204097 non-null  int64
 34  목요일_매출_건수        204097 non-null  int64
 35  금요일_매출_건수        204097 non-null  int64
 36  토요일_매출_건수        204097 non-null  int64
 37  일요일_매출_건수        204097 non-null  int64
 38  시간대_건수~06_매출_건수  204097 non-null  int64
 39  시간대_건수~11_매출_건수  204097 non-null  int64
 40  시간대_건수~14_매출_건수  204097 non-null  int64
 41  시간대_건수~17_매출_건수  204097 non-null  int64
 42  시간대_건수~21_매출_건수  204097 non-null  int64
 43  시간대_건수~24_매출_건수  204097 non-null  int64
 44  남성_매출_건수         204097 non-null  int64
 45  여성_매출_건수         204097 non-null  int64
 46  연령대_10_매출_건수     204097 non-null  int64
 47  연령대_20_매출_건수     204097 non-null  int64
 48  연령대_30_매출_건수     204097 non-null  int64
 49  연령대_40_매출_건수     204097 non-null  int64
 50  연령대_50_매출_건수     204097 non-null  int64
 51  연령대_60_이상_매출_건수  204097 non-null  int64
dtypes: float64(21), int64(28), object(3)
memory usage: 81.0+ MB

In [28]:
estimated_sales.isnull().sum()

기준_년분기_코드          0
상권_구분_코드_명         0
상권_코드_명            0
서비스_업종_코드_명        0
당월_매출_금액           0
당월_매출_건수           0
주중_매출_금액           0
주말_매출_금액           0
월요일_매출_금액          0
화요일_매출_금액          0
수요일_매출_금액          0
목요일_매출_금액          0
금요일_매출_금액          0
토요일_매출_금액          0
일요일_매출_금액          0
시간대_00~06_매출_금액    0
시간대_06~11_매출_금액    0
시간대_11~14_매출_금액    0
시간대_14~17_매출_금액    0
시간대_17~21_매출_금액    0
시간대_21~24_매출_금액    0
남성_매출_금액           0
여성_매출_금액           0
연령대_10_매출_금액       0
연령대_20_매출_금액       0
연령대_30_매출_금액       0
연령대_40_매출_금액       0
연령대_50_매출_금액       0
연령대_60_이상_매출_금액    0
주중_매출_건수           0
주말_매출_건수           0
월요일_매출_건수          0
화요일_매출_건수          0
수요일_매출_건수          0
목요일_매출_건수          0
금요일_매출_건수          0
토요일_매출_건수          0
일요일_매출_건수          0
시간대_건수~06_매출_건수    0
시간대_건수~11_매출_건수    0
시간대_건수~14_매출_건수    0
시간대_건수~17_매출_건수    0
시간대_건수~21_매출_건수    0
시간대_건수~24_매출_건수    0
남성_매출_건수           0
여성_매출_건수           0
연령대_10_매출_건수       0
연령대_20_매출_건수       0
연령대_30_매출_건수       0
연령대_40_매출_건수       0
연령대_50_매출_건수       0
연령대_60_이상_매출_건수    0
dtype: int64

In [29]:
estimated_sales.describe()

,기준_년분기_코드,당월_매출_금액,당월_매출_건수,주중_매출_금액,주말_매출_금액,월요일_매출_금액,화요일_매출_금액,수요일_매출_금액,목요일_매출_금액,금요일_매출_금액,토요일_매출_금액,일요일_매출_금액,시간대_00~06_매출_금액,시간대_06~11_매출_금액,시간대_11~14_매출_금액,시간대_14~17_매출_금액,시간대_17~21_매출_금액,시간대_21~24_매출_금액,남성_매출_금액,여성_매출_금액,연령대_10_매출_금액,연령대_20_매출_금액,연령대_30_매출_금액,연령대_40_매출_금액,연령대_50_매출_금액,연령대_60_이상_매출_금액,주중_매출_건수,주말_매출_건수,월요일_매출_건수,화요일_매출_건수,수요일_매출_건수,목요일_매출_건수,금요일_매출_건수,토요일_매출_건수,일요일_매출_건수,시간대_건수~06_매출_건수,시간대_건수~11_매출_건수,시간대_건수~14_매출_건수,시간대_건수~17_매출_건수,시간대_건수~21_매출_건수,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수
count,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000
mean,20212.840,1021418669.565,36141.356,768246389.588,253172259.434,146631427.710,151940653.784,149484545.928,151922155.134,168267599.937,154792351.608,98379931.238,31874476.048,105073024.951,255681354.284,262348402.191,284426423.925,82014975.291,461248423.375,445257425.089,5802746.913,134124586.728,189689903.226,214471866.961,196864290.737,165552066.737,27089.777,9051.579,5312.330,5338.128,5304.351,5379.669,5755.299,5230.939,3820.640,1386.435,4824.068,9095.165,7655.083,9850.515,3330.090,17796.251,16862.205,631.205,8318.685,8273.928,6899.460,5913.838,4621.333
std,16.430,9306141670.670,162093.699,6547403471.378,3317885822.540,1262005341.983,1291626785.793,1313965669.388,1303535151.925,1448820486.855,1900209886.216,1446482768.414,586988402.658,1166138608.116,2389866351.743,3260909439.403,2677464939.216,429459595.187,4469476882.361,3457516147.719,37390178.766,948386337.925,1708849233.148,2052674204.777,1837976996.154,1681023406.664,115792.312,53679.680,23006.818,23105.674,22668.572,22960.808,24622.843,29650.330,24407.606,10906.626,28278.970,43085.919,42099.020,45485.973,14676.458,79462.443,81591.575,10872.538,48861.079,38551.428,31032.064,26403.652,29048.657
min,20191.000,12.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,-1.000,0.000,-1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
25%,20193.000,44643346.000,821.000,32949846.000,7045454.000,4981520.000,5271998.000,5497800.000,5498405.000,6065123.000,4519715.000,0.000,0.000,62374.000,4833248.000,6930505.000,11062761.000,0.000,18007101.000,16584238.000,0.000,1486797.000,4808313.000,7731945.000,7382450.000,3298714.000,614.000,149.000,107.000,112.000,114.000,116.000,127.000,101.000,0.000,0.000,5.000,97.000,156.000,220.000,0.000,373.000,321.000,0.000,47.000,115.000,169.000,153.000,79.000
50%,20222.000,172566811.000,4379.000,128049248.000,35837517.000,22742284.000,23635258.000,23719742.000,23908092.000,26394617.000,22885372.000,8162372.000,0.000,5302978.000,31013441.000,32657120.000,47316500.000,3841331.000,77079630.000,69471730.000,182992.000,12680743.000,25498593.000,34639748.000,31871464.000,17426474.000,3212.000,993.000,601.000,619.000,633.000,635.000,704.000,645.000,242.000,0.000,146.000,900.000,915.000,1258.000,78.000,2128.000,1859.000,14.000,476.000,765.000,887.000,840.000,495.000
75%,20224.000,620469204.000,23423.000,469879556.000,138605252.000,88627271.000,90948708.000,89860678.000,90783118.000,99503254.000,87736868.000,46088283.000,2550746.000,42399479.000,136617300.000,129937944.000,172661517.000,39117526.000,283932057.000,264425230.000,2301409.000,64503303.000,105906624.000,126492381.000,117257228.000,79113407.000,17481.000,5467.000,3397.000,3425.000,3415.000,3448.000,3750.000,3328.000,1962.000,70.000,1738.000,5733.000,4809.000,6653.000,1251.000,11052.000,10655.000,183.000,3493.000,4519.000,4524.000,4157.000,2777.000
max,20232.000,1092340000000.000,13712109.000,858334000000.000,485357000000.000,156366000000.000,164982000000.000,186594000000.000,191168000000.000,173259000000.000,297300000000.000,188057000000.000,102708000000.000,118903000000.000,280539000000.000,479066000000.000,386343000000.000,33921517889.000,537243000000.000,304162000000.000,5243184142.000,91839508212.000,185968000000.000,285340000000.000,190992000000.000,238248000000.000,11745700.000,6262410.000,2701966.000,2549509.000,2343103.000,2221561.000,2113695.000,3785070.000,2477340.000,1111188.000,3183962.000,3405275.000,3439449.000,4287338.000,1221309.000,6708993.000,8458228.000,2786643.000,6843441.000,2843144.000,2528841.000,2297953.000,3188920.000

In [30]:
# 건수가 -1인 행은 이상치로 간주하고 삭제
estimated_sales = estimated_sales[(estimated_sales['시간대_건수~17_매출_건수'] != -1) & (estimated_sales['시간대_건수~11_매출_건수'] != -1)]

In [31]:
cols = list(estimated_sales.columns)

for i in cols:
    print(f"{i} : {len(estimated_sales[(estimated_sales[i] == 0)])}")

기준_년분기_코드 : 0
상권_구분_코드_명 : 0
상권_코드_명 : 0
서비스_업종_코드_명 : 0
당월_매출_금액 : 0
당월_매출_건수 : 0
주중_매출_금액 : 887
주말_매출_금액 : 16785
월요일_매출_금액 : 12689
화요일_매출_금액 : 11846
수요일_매출_금액 : 11532
목요일_매출_금액 : 11198
금요일_매출_금액 : 10538
토요일_매출_금액 : 19262
일요일_매출_금액 : 54704
시간대_00~06_매출_금액 : 135166
시간대_06~11_매출_금액 : 49578
시간대_11~14_매출_금액 : 20000
시간대_14~17_매출_금액 : 11010
시간대_17~21_매출_금액 : 8460
시간대_21~24_매출_금액 : 66351
남성_매출_금액 : 5568
여성_매출_금액 : 4394
연령대_10_매출_금액 : 86898
연령대_20_매출_금액 : 29261
연령대_30_매출_금액 : 15925
연령대_40_매출_금액 : 10409
연령대_50_매출_금액 : 11253
연령대_60_이상_매출_금액 : 19061
주중_매출_건수 : 885
주말_매출_건수 : 16737
월요일_매출_건수 : 12657
화요일_매출_건수 : 11804
수요일_매출_건수 : 11485
목요일_매출_건수 : 11154
금요일_매출_건수 : 10502
토요일_매출_건수 : 19206
일요일_매출_건수 : 54659
시간대_건수~06_매출_건수 : 135167
시간대_건수~11_매출_건수 : 49542
시간대_건수~14_매출_건수 : 19975
시간대_건수~17_매출_건수 : 10983
시간대_건수~21_매출_건수 : 8436
시간대_건수~24_매출_건수 : 66274
남성_매출_건수 : 5552
여성_매출_건수 : 4375
연령대_10_매출_건수 : 86931
연령대_20_매출_건수 : 29211
연령대_30_매출_건수 : 15879
연령대_40_매출_건수 : 10379
연령대_50_매출_건수 : 11213
연령대_60_이상_매출_건수 : 19018

# 시점 통일

In [32]:
years = [20223, 20224, 20231, 20232]

living_popul = living_popul[living_popul['기준_년분기_코드'].isin(years)]
resident_popul = resident_popul[resident_popul['기준_년분기_코드'].isin(years)]
store = store[store['기준_년분기_코드'].isin(years)]
working_popul = working_popul[working_popul['기준_년분기_코드'].isin(years)]
facilitie = facilitie[facilitie['기준_년분기_코드'].isin(years)]
estimated_sales = estimated_sales[estimated_sales['기준_년분기_코드'].isin(years)]

# 데이터 변수 처리

## 길단위인구 변수 처리

In [33]:
living_popul['시간대_21_06_유동인구_수'] = living_popul['시간대_00_06_유동인구_수'] + living_popul['시간대_21_24_유동인구_수']
living_popul['평일_유동인구_수'] = living_popul['월요일_유동인구_수'] + living_popul['화요일_유동인구_수'] + living_popul['수요일_유동인구_수'] + living_popul['목요일_유동인구_수'] + living_popul['금요일_유동인구_수']
living_popul['주말_유동인구_수'] = living_popul['토요일_유동인구_수'] + living_popul['일요일_유동인구_수']
living_popul = living_popul.drop(['월요일_유동인구_수', '화요일_유동인구_수', '수요일_유동인구_수', '목요일_유동인구_수', '금요일_유동인구_수', '토요일_유동인구_수', '일요일_유동인구_수', '시간대_00_06_유동인구_수', '시간대_21_24_유동인구_수'], axis = 1)

## 집객시설 변수 처리

In [34]:
facilitie = facilitie.drop('집객시설_수', axis = 1)
facilitie = facilitie.fillna(0)

## 추정매출 변수 처리

In [35]:
estimated_sales.columns

Index(['기준_년분기_코드', '상권_구분_코드_명', '상권_코드_명', '서비스_업종_코드_명', '당월_매출_금액',
       '당월_매출_건수', '주중_매출_금액', '주말_매출_금액', '월요일_매출_금액', '화요일_매출_금액',
       '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액', '일요일_매출_금액',
       '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
       '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액',
       '여성_매출_금액', '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액',
       '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수',
       '주말_매출_건수', '월요일_매출_건수', '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수',
       '금요일_매출_건수', '토요일_매출_건수', '일요일_매출_건수', '시간대_건수~06_매출_건수',
       '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수', '시간대_건수~17_매출_건수',
       '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수', '여성_매출_건수',
       '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수', '연령대_40_매출_건수',
       '연령대_50_매출_건수', '연령대_60_이상_매출_건수'],
      dtype='object')

In [36]:
estimated_sales = estimated_sales.drop(columns = ['월요일_매출_금액', '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액', '일요일_매출_금액',
                                                  '월요일_매출_건수', '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수', '금요일_매출_건수', '토요일_매출_건수', '일요일_매출_건수'],
                                       axis = 1)



estimated_sales['시간대_21~06_매출_금액'] = estimated_sales['시간대_00~06_매출_금액'] + estimated_sales['시간대_21~24_매출_금액']
estimated_sales['시간대_21~06_매출_건수'] = estimated_sales['시간대_건수~06_매출_건수'] + estimated_sales['시간대_건수~24_매출_건수']

# 건당 매출 금액 컬럼 생성
estimated_sales['주말_건당_매출_금액'] = estimated_sales[(estimated_sales['주말_매출_금액'] != 0) & (estimated_sales['주말_매출_건수'] != 0 )]['주말_매출_금액'] / estimated_sales[(estimated_sales['주말_매출_금액'] != 0) & (estimated_sales['주말_매출_건수'] != 0) ]['주말_매출_건수']
estimated_sales['당월_건당_매출_금액'] = estimated_sales[(estimated_sales['당월_매출_금액'] != 0) & (estimated_sales['당월_매출_건수'] != 0 )]['당월_매출_금액'] / estimated_sales[(estimated_sales['당월_매출_금액'] != 0) & (estimated_sales['당월_매출_건수'] != 0 )]['당월_매출_건수']
estimated_sales['주중_건당_매출_금액'] = estimated_sales[(estimated_sales['주중_매출_금액'] != 0) & (estimated_sales['주중_매출_건수'] != 0 )]['주중_매출_금액'] / estimated_sales[(estimated_sales['주중_매출_금액'] != 0) & (estimated_sales['주중_매출_건수'] != 0 )]['주중_매출_건수']

estimated_sales['시간대_21~06_건당_매출_금액'] =  estimated_sales[(estimated_sales['시간대_21~06_매출_금액'] != 0) & (estimated_sales['시간대_21~06_매출_건수'] != 0) ]['시간대_21~06_매출_금액'] / estimated_sales[(estimated_sales['시간대_21~06_매출_금액'] != 0) & (estimated_sales['시간대_21~06_매출_건수'] != 0 )]['시간대_21~06_매출_건수']
estimated_sales['시간대_06~11_건당_매출_금액'] =  estimated_sales[(estimated_sales['시간대_06~11_매출_금액'] != 0) & (estimated_sales['시간대_건수~11_매출_건수'] != 0) ]['시간대_06~11_매출_금액'] / estimated_sales[(estimated_sales['시간대_06~11_매출_금액'] != 0) & (estimated_sales['시간대_건수~11_매출_건수'] != 0) ]['시간대_건수~11_매출_건수']
estimated_sales['시간대_11~14_건당_매출_금액'] =  estimated_sales[(estimated_sales['시간대_11~14_매출_금액'] != 0) & (estimated_sales['시간대_건수~14_매출_건수'] != 0) ]['시간대_11~14_매출_금액'] / estimated_sales[(estimated_sales['시간대_11~14_매출_금액'] != 0) & (estimated_sales['시간대_건수~14_매출_건수'] != 0 )]['시간대_건수~14_매출_건수']
estimated_sales['시간대_14~17_건당_매출_금액'] =  estimated_sales[(estimated_sales['시간대_14~17_매출_금액'] != 0) & (estimated_sales['시간대_건수~17_매출_건수'] != 0) ]['시간대_14~17_매출_금액'] / estimated_sales[(estimated_sales['시간대_14~17_매출_금액'] != 0) & (estimated_sales['시간대_건수~17_매출_건수'] != 0) ]['시간대_건수~17_매출_건수']
estimated_sales['시간대_17~21_건당_매출_금액'] =  estimated_sales[(estimated_sales['시간대_17~21_매출_금액'] != 0) & (estimated_sales['시간대_건수~21_매출_건수'] != 0) ]['시간대_17~21_매출_금액'] / estimated_sales[(estimated_sales['시간대_17~21_매출_금액'] != 0) & (estimated_sales['시간대_건수~21_매출_건수'] != 0 )]['시간대_건수~21_매출_건수']

estimated_sales['남성_건당_매출_금액'] = estimated_sales[(estimated_sales['남성_매출_금액'] != 0) & (estimated_sales['남성_매출_건수'] != 0)]['남성_매출_금액'] / estimated_sales[(estimated_sales['남성_매출_금액'] != 0) & (estimated_sales['남성_매출_건수'] != 0)]['남성_매출_건수']
estimated_sales['여성_건당_매출_금액'] = estimated_sales[(estimated_sales['여성_매출_금액'] != 0) & (estimated_sales['여성_매출_건수'] != 0)]['여성_매출_금액'] / estimated_sales[(estimated_sales['여성_매출_금액'] != 0) & (estimated_sales['여성_매출_건수'] != 0)]['여성_매출_건수']

estimated_sales['연령대_10_건당_매출_금액'] = estimated_sales[(estimated_sales['연령대_10_매출_금액'] != 0) & (estimated_sales['연령대_10_매출_건수'] != 0)]['연령대_10_매출_금액'] / estimated_sales[(estimated_sales['연령대_10_매출_금액'] != 0) & (estimated_sales['연령대_10_매출_건수'] != 0)]['연령대_10_매출_건수']
estimated_sales['연령대_20_건당_매출_금액'] = estimated_sales[(estimated_sales['연령대_20_매출_금액'] != 0) & (estimated_sales['연령대_20_매출_건수'] != 0)]['연령대_20_매출_금액'] / estimated_sales[(estimated_sales['연령대_20_매출_금액'] != 0) & (estimated_sales['연령대_20_매출_건수'] != 0)]['연령대_20_매출_건수']
estimated_sales['연령대_30_건당_매출_금액'] = estimated_sales[(estimated_sales['연령대_30_매출_금액'] != 0) & (estimated_sales['연령대_30_매출_건수'] != 0)]['연령대_30_매출_금액'] / estimated_sales[(estimated_sales['연령대_30_매출_금액'] != 0) & (estimated_sales['연령대_30_매출_건수'] != 0)]['연령대_30_매출_건수']
estimated_sales['연령대_40_건당_매출_금액'] = estimated_sales[(estimated_sales['연령대_40_매출_금액'] != 0) & (estimated_sales['연령대_40_매출_건수'] != 0)]['연령대_40_매출_금액'] / estimated_sales[(estimated_sales['연령대_40_매출_금액'] != 0) & (estimated_sales['연령대_40_매출_건수'] != 0)]['연령대_40_매출_건수']
estimated_sales['연령대_50_건당_매출_금액'] = estimated_sales[(estimated_sales['연령대_50_매출_금액'] != 0) & (estimated_sales['연령대_50_매출_건수'] != 0)]['연령대_50_매출_금액'] / estimated_sales[(estimated_sales['연령대_50_매출_금액'] != 0) & (estimated_sales['연령대_50_매출_건수'] != 0)]['연령대_50_매출_건수']
estimated_sales['연령대_60_이상_건당_매출_금액'] = estimated_sales[(estimated_sales['연령대_60_이상_매출_금액'] != 0) & (estimated_sales['연령대_60_이상_매출_건수'] != 0)]['연령대_60_이상_매출_금액'] / estimated_sales[(estimated_sales['연령대_60_이상_매출_금액'] != 0) & (estimated_sales['연령대_60_이상_매출_건수'] != 0)]['연령대_60_이상_매출_건수']


estimated_sales = estimated_sales.drop(columns = ['시간대_00~06_매출_금액', '시간대_21~24_매출_금액', '시간대_건수~06_매출_건수', '시간대_건수~24_매출_건수'],
                                       axis = 1)

cols_1 = ['기준_년분기_코드', '상권_구분_코드_명', '상권_코드_명', '서비스_업종_코드_명']

cols_2 = ['당월_매출_금액', '주중_매출_금액', '주말_매출_금액',
         '시간대_06~11_매출_금액', '시간대_11~14_매출_금액', '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~06_매출_금액',
         '남성_매출_금액', '여성_매출_금액', 
         '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액', '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액']

cols_3 = ['당월_매출_건수', '주중_매출_건수', '주말_매출_건수',
         '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수', '시간대_건수~17_매출_건수', '시간대_건수~21_매출_건수', '시간대_21~06_매출_건수',
         '남성_매출_건수', '여성_매출_건수',
         '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수', '연령대_40_매출_건수', '연령대_50_매출_건수', '연령대_60_이상_매출_건수']

cols_4 = ['당월_건당_매출_금액', '주중_건당_매출_금액', '주말_건당_매출_금액',
         '시간대_06~11_건당_매출_금액', '시간대_11~14_건당_매출_금액', '시간대_14~17_건당_매출_금액', '시간대_17~21_건당_매출_금액', '시간대_21~06_건당_매출_금액',
         '남성_건당_매출_금액', '여성_건당_매출_금액',
         '연령대_10_건당_매출_금액', '연령대_20_건당_매출_금액', '연령대_30_건당_매출_금액', '연령대_40_건당_매출_금액', '연령대_50_건당_매출_금액', '연령대_60_이상_건당_매출_금액']

cols = [*cols_1, *cols_2, *cols_3, *cols_4]

estimated_sales = estimated_sales[cols].rename(columns = {'시간대_건수~11_매출_건수' : '시간대_06~11_매출_건수',
                                                         '시간대_건수~14_매출_건수' : '시간대_11~14_매출_건수',
                                                         '시간대_건수~17_매출_건수' : '시간대_14~17_매출_건수',
                                                         '시간대_건수~21_매출_건수' : '시간대_17~21_매출_건수'})

estimated_sales = estimated_sales.fillna(0)

estimated_sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 84142 entries, 119954 to 204096
Data columns (total 52 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   기준_년분기_코드           84142 non-null  int64
 1   상권_구분_코드_명          84142 non-null  object
 2   상권_코드_명             84142 non-null  object
 3   서비스_업종_코드_명         84142 non-null  object
 4   당월_매출_금액            84142 non-null  float64
 5   주중_매출_금액            84142 non-null  float64
 6   주말_매출_금액            84142 non-null  float64
 7   시간대_06~11_매출_금액     84142 non-null  float64
 8   시간대_11~14_매출_금액     84142 non-null  float64
 9   시간대_14~17_매출_금액     84142 non-null  float64
 10  시간대_17~21_매출_금액     84142 non-null  float64
 11  시간대_21~06_매출_금액     84142 non-null  float64
 12  남성_매출_금액            84142 non-null  float64
 13  여성_매출_금액            84142 non-null  float64
 14  연령대_10_매출_금액        84142 non-null  int64
 15  연령대_20_매출_금액        84142 non-null  int64
 16  연령대_30_매출_금액        84142 non-null  float64
 17  연령대_40_매출_금액        84142 non-null  float64
 18  연령대_50_매출_금액        84142 non-null  float64
 19  연령대_60_이상_매출_금액     84142 non-null  float64
 20  당월_매출_건수            84142 non-null  int64
 21  주중_매출_건수            84142 non-null  int64
 22  주말_매출_건수            84142 non-null  int64
 23  시간대_06~11_매출_건수     84142 non-null  int64
 24  시간대_11~14_매출_건수     84142 non-null  int64
 25  시간대_14~17_매출_건수     84142 non-null  int64
 26  시간대_17~21_매출_건수     84142 non-null  int64
 27  시간대_21~06_매출_건수     84142 non-null  int64
 28  남성_매출_건수            84142 non-null  int64
 29  여성_매출_건수            84142 non-null  int64
 30  연령대_10_매출_건수        84142 non-null  int64
 31  연령대_20_매출_건수        84142 non-null  int64
 32  연령대_30_매출_건수        84142 non-null  int64
 33  연령대_40_매출_건수        84142 non-null  int64
 34  연령대_50_매출_건수        84142 non-null  int64
 35  연령대_60_이상_매출_건수     84142 non-null  int64
 36  당월_건당_매출_금액         84142 non-null  float64
 37  주중_건당_매출_금액         84142 non-null  float64
 38  주말_건당_매출_금액         84142 non-null  float64
 39  시간대_06~11_건당_매출_금액  84142 non-null  float64
 40  시간대_11~14_건당_매출_금액  84142 non-null  float64
 41  시간대_14~17_건당_매출_금액  84142 non-null  float64
 42  시간대_17~21_건당_매출_금액  84142 non-null  float64
 43  시간대_21~06_건당_매출_금액  84142 non-null  float64
 44  남성_건당_매출_금액         84142 non-null  float64
 45  여성_건당_매출_금액         84142 non-null  float64
 46  연령대_10_건당_매출_금액     84142 non-null  float64
 47  연령대_20_건당_매출_금액     84142 non-null  float64
 48  연령대_30_건당_매출_금액     84142 non-null  float64
 49  연령대_40_건당_매출_금액     84142 non-null  float64
 50  연령대_50_건당_매출_금액     84142 non-null  float64
 51  연령대_60_이상_건당_매출_금액  84142 non-null  float64
dtypes: float64(30), int64(19), object(3)
memory usage: 34.0+ MB

In [37]:
estimated_sales.duplicated(keep='first').value_counts()

False    84142
Name: count, dtype: int64

In [38]:
estimated_sales.describe()

,기준_년분기_코드,당월_매출_금액,주중_매출_금액,주말_매출_금액,시간대_06~11_매출_금액,시간대_11~14_매출_금액,시간대_14~17_매출_금액,시간대_17~21_매출_금액,시간대_21~06_매출_금액,남성_매출_금액,여성_매출_금액,연령대_10_매출_금액,연령대_20_매출_금액,연령대_30_매출_금액,연령대_40_매출_금액,연령대_50_매출_금액,연령대_60_이상_매출_금액,당월_매출_건수,주중_매출_건수,주말_매출_건수,시간대_06~11_매출_건수,시간대_11~14_매출_건수,시간대_14~17_매출_건수,시간대_17~21_매출_건수,시간대_21~06_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,당월_건당_매출_금액,주중_건당_매출_금액,주말_건당_매출_금액,시간대_06~11_건당_매출_금액,시간대_11~14_건당_매출_금액,시간대_14~17_건당_매출_금액,시간대_17~21_건당_매출_금액,시간대_21~06_건당_매출_금액,남성_건당_매출_금액,여성_건당_매출_금액,연령대_10_건당_매출_금액,연령대_20_건당_매출_금액,연령대_30_건당_매출_금액,연령대_40_건당_매출_금액,연령대_50_건당_매출_금액,연령대_60_이상_건당_매출_금액
count,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000,84142.000
mean,20227.506,1116612518.113,842979188.158,273633286.456,116414779.053,286190307.368,280428172.056,306649914.533,126929269.438,506121716.124,483593841.400,5734620.362,135384284.482,205197255.684,226272713.837,217406864.280,199717611.023,39185.315,29499.987,9685.328,5416.628,10204.312,8307.813,10443.498,4813.063,19337.720,18168.722,577.379,7898.951,9086.916,7468.881,6750.192,5724.121,109619.782,108562.046,76348.446,72171.189,89525.942,95894.477,92480.201,62743.518,99379.001,95828.243,13272.059,48481.902,74703.996,92765.921,97362.835,86824.131
std,4.031,9372036842.708,6458461340.743,3509573510.296,1172358995.428,2477476476.211,3124233060.342,2771120834.476,1000331229.942,4449109219.720,3616332255.979,31895174.014,909575671.701,1708266771.301,1844319915.495,1920494726.665,1994043891.531,168455.220,117929.954,57711.593,29263.798,45979.176,44186.939,47735.612,23992.453,83502.716,83244.817,3617.482,42063.307,42551.042,32102.022,28617.062,35747.307,331783.051,323800.761,220070.937,392499.117,308628.624,339069.641,300072.903,200981.710,346753.101,274603.538,46052.255,189023.906,257836.536,307118.125,326193.919,482273.877
min,20223.000,12.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
25%,20224.000,48561447.500,36208084.750,7457452.500,145543.750,5491729.250,7869402.750,11816848.000,0.000,19599259.750,18112032.250,0.000,1369603.500,4900057.250,8001197.000,8424575.750,4355287.000,868.000,654.000,153.000,7.000,109.000,173.000,226.000,0.000,390.000,342.000,0.000,43.000,115.000,171.000,167.000,100.000,15043.374,14647.817,11053.454,4324.712,10213.141,11954.808,12003.154,0.000,12830.363,12668.094,0.000,6365.327,9308.725,11468.783,12160.644,10967.037
50%,20231.000,188173580.000,140851418.000,38303399.500,6268230.000,34963255.500,36234677.000,50585699.000,4062083.500,84295904.000,75952220.500,166368.000,12429878.500,26992845.500,36598492.500,36309081.500,22326373.000,4646.000,3446.500,1036.000,169.000,985.000,983.000,1304.000,77.000,2286.500,1968.500,12.000,446.000,796.000,910.000,936.000,621.000,33329.299,32400.163,26757.640,14009.459,22618.670,26279.694,29159.158,11538.956,27846.226,29892.952,4078.878,15572.406,22712.973,27379.577,28087.202,25894.994
75%,20232.000,686194028.000,520559450.000,150580042.500,48509174.750,153604411.500,143041138.750,186413970.000,51155789.000,314347362.250,290364682.750,2273910.750,64078262.750,114139829.000,136066646.250,132552961.500,98031640.250,25492.750,19055.750,5839.750,1996.000,6405.750,5206.750,6992.750,1497.000,12096.000,11579.000,174.000,3306.000,4845.750,4833.000,4731.750,3523.750,91891.521,90658.646,60883.921,37815.879,58243.625,71458.101,71711.846,53528.416,74100.235,74960.588,12968.326,37539.030,53437.241,70143.907,71756.490,59334.993
max,20232.000,995677000000.000,669799000000.000,485357000000.000,107916000000.000,242249000000.000,326543000000.000,386343000000.000,126314287024.000,537243000000.000,304162000000.000,1549259735.000,90669553834.000,185968000000.000,168379000000.000,179689000000.000,238248000000.000,12090273.000,5827863.000,6262410.000,1474148.000,2611826.000,3245770.000,4287338.000,1514884.000,6708993.000,4615812.000,329040.000,3087414.000,2413132.000,2106826.000,2297953.000,3188920.000,27447230.947,27447230.947,19671457.896,56064225.231,23291042.833,27447230.947,21438295.142,19555555.667,27447230.947,14000000.000,4787225.500,29928546.065,18138461.538,18989769.821,27447230.947,95937160.600

In [39]:
estimated_sales[estimated_sales['당월_건당_매출_금액'] == 1]

,기준_년분기_코드,상권_구분_코드_명,상권_코드_명,서비스_업종_코드_명,당월_매출_금액,주중_매출_금액,주말_매출_금액,시간대_06~11_매출_금액,시간대_11~14_매출_금액,시간대_14~17_매출_금액,시간대_17~21_매출_금액,시간대_21~06_매출_금액,남성_매출_금액,여성_매출_금액,연령대_10_매출_금액,연령대_20_매출_금액,연령대_30_매출_금액,연령대_40_매출_금액,연령대_50_매출_금액,연령대_60_이상_매출_금액,당월_매출_건수,주중_매출_건수,주말_매출_건수,시간대_06~11_매출_건수,시간대_11~14_매출_건수,시간대_14~17_매출_건수,시간대_17~21_매출_건수,시간대_21~06_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,당월_건당_매출_금액,주중_건당_매출_금액,주말_건당_매출_금액,시간대_06~11_건당_매출_금액,시간대_11~14_건당_매출_금액,시간대_14~17_건당_매출_금액,시간대_17~21_건당_매출_금액,시간대_21~06_건당_매출_금액,남성_건당_매출_금액,여성_건당_매출_금액,연령대_10_건당_매출_금액,연령대_20_건당_매출_금액,연령대_30_건당_매출_금액,연령대_40_건당_매출_금액,연령대_50_건당_매출_금액,연령대_60_이상_건당_매출_금액
120095,20223,골목상권,이화달팽이길,서적,118.000,83.000,35.000,0.000,35.000,36.000,0.000,47.000,118.000,0.000,0,0,0.000,118.000,0.000,0.000,118,83,35,0,35,36,0,47,118,0,0,0,0,118,0,0,1.000,1.000,1.000,0.000,1.000,1.000,0.000,1.000,1.000,0.000,0.000,0.000,0.000,1.000,0.000,0.000
162115,20231,골목상권,이화달팽이길,서적,47.000,35.000,12.000,12.000,0.000,11.000,24.000,0.000,47.000,0.000,0,0,0.000,47.000,0.000,0.000,47,35,12,12,0,11,24,0,47,0,0,0,0,47,0,0,1.000,1.000,1.000,1.000,0.000,1.000,1.000,0.000,1.000,0.000,0.000,0.000,0.000,1.000,0.000,0.000

In [40]:
estimated_sales.isnull().sum()

기준_년분기_코드             0
상권_구분_코드_명            0
상권_코드_명               0
서비스_업종_코드_명           0
당월_매출_금액              0
주중_매출_금액              0
주말_매출_금액              0
시간대_06~11_매출_금액       0
시간대_11~14_매출_금액       0
시간대_14~17_매출_금액       0
시간대_17~21_매출_금액       0
시간대_21~06_매출_금액       0
남성_매출_금액              0
여성_매출_금액              0
연령대_10_매출_금액          0
연령대_20_매출_금액          0
연령대_30_매출_금액          0
연령대_40_매출_금액          0
연령대_50_매출_금액          0
연령대_60_이상_매출_금액       0
당월_매출_건수              0
주중_매출_건수              0
주말_매출_건수              0
시간대_06~11_매출_건수       0
시간대_11~14_매출_건수       0
시간대_14~17_매출_건수       0
시간대_17~21_매출_건수       0
시간대_21~06_매출_건수       0
남성_매출_건수              0
여성_매출_건수              0
연령대_10_매출_건수          0
연령대_20_매출_건수          0
연령대_30_매출_건수          0
연령대_40_매출_건수          0
연령대_50_매출_건수          0
연령대_60_이상_매출_건수       0
당월_건당_매출_금액           0
주중_건당_매출_금액           0
주말_건당_매출_금액           0
시간대_06~11_건당_매출_금액    0
시간대_11~14_건당_매출_금액    0
시간대_14~17_건당_매출_금액    0
시간대_17~21_건당_매출_금액    0
시간대_21~06_건당_매출_금액    0
남성_건당_매출_금액           0
여성_건당_매출_금액           0
연령대_10_건당_매출_금액       0
연령대_20_건당_매출_금액       0
연령대_30_건당_매출_금액       0
연령대_40_건당_매출_금액       0
연령대_50_건당_매출_금액       0
연령대_60_이상_건당_매출_금액    0
dtype: int64

In [41]:
cols = list(estimated_sales.columns)

for i in cols:
    print(f"{i} : {len(estimated_sales[(estimated_sales[i] == 0)])}")

기준_년분기_코드 : 0
상권_구분_코드_명 : 0
상권_코드_명 : 0
서비스_업종_코드_명 : 0
당월_매출_금액 : 0
주중_매출_금액 : 368
주말_매출_금액 : 6859
시간대_06~11_매출_금액 : 19345
시간대_11~14_매출_금액 : 7521
시간대_14~17_매출_금액 : 3953
시간대_17~21_매출_금액 : 3601
시간대_21~06_매출_금액 : 27781
남성_매출_금액 : 2308
여성_매출_금액 : 1784
연령대_10_매출_금액 : 36521
연령대_20_매출_금액 : 12586
연령대_30_매출_금액 : 6664
연령대_40_매출_금액 : 4509
연령대_50_매출_금액 : 4452
연령대_60_이상_매출_금액 : 7299
당월_매출_건수 : 0
주중_매출_건수 : 368
주말_매출_건수 : 6842
시간대_06~11_매출_건수 : 19333
시간대_11~14_매출_건수 : 7514
시간대_14~17_매출_건수 : 3943
시간대_17~21_매출_건수 : 3588
시간대_21~06_매출_건수 : 27748
남성_매출_건수 : 2305
여성_매출_건수 : 1778
연령대_10_매출_건수 : 36539
연령대_20_매출_건수 : 12575
연령대_30_매출_건수 : 6644
연령대_40_매출_건수 : 4501
연령대_50_매출_건수 : 4437
연령대_60_이상_매출_건수 : 7280
당월_건당_매출_금액 : 0
주중_건당_매출_금액 : 369
주말_건당_매출_금액 : 6864
시간대_06~11_건당_매출_금액 : 19358
시간대_11~14_건당_매출_금액 : 7531
시간대_14~17_건당_매출_금액 : 3959
시간대_17~21_건당_매출_금액 : 3605
시간대_21~06_건당_매출_금액 : 27793
남성_건당_매출_금액 : 2310
여성_건당_매출_금액 : 1786
연령대_10_건당_매출_금액 : 36554
연령대_20_건당_매출_금액 : 12596
연령대_30_건당_매출_금액 : 6668
연령대_40_건당_매출_금액 : 4514
연령대_50_건당_매출_금액 : 4457
연령대_60_이상_건당_매출_금액 : 7302

In [48]:
estimated_sales = estimated_sales.drop(columns = ['기준_년분기_코드']).groupby(['상권_구분_코드_명', '상권_코드_명', '서비스_업종_코드_명']).mean().reset_index()

In [51]:
estimated_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22260 entries, 0 to 22259
Data columns (total 51 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   상권_구분_코드_명          22260 non-null  object
 1   상권_코드_명             22260 non-null  object
 2   서비스_업종_코드_명         22260 non-null  object
 3   당월_매출_금액            22260 non-null  float64
 4   주중_매출_금액            22260 non-null  float64
 5   주말_매출_금액            22260 non-null  float64
 6   시간대_06~11_매출_금액     22260 non-null  float64
 7   시간대_11~14_매출_금액     22260 non-null  float64
 8   시간대_14~17_매출_금액     22260 non-null  float64
 9   시간대_17~21_매출_금액     22260 non-null  float64
 10  시간대_21~06_매출_금액     22260 non-null  float64
 11  남성_매출_금액            22260 non-null  float64
 12  여성_매출_금액            22260 non-null  float64
 13  연령대_10_매출_금액        22260 non-null  float64
 14  연령대_20_매출_금액        22260 non-null  float64
 15  연령대_30_매출_금액        22260 non-null  float64
 16  연령대_40_매출_금액        22260 non-null  float64
 17  연령대_50_매출_금액        22260 non-null  float64
 18  연령대_60_이상_매출_금액     22260 non-null  float64
 19  당월_매출_건수            22260 non-null  float64
 20  주중_매출_건수            22260 non-null  float64
 21  주말_매출_건수            22260 non-null  float64
 22  시간대_06~11_매출_건수     22260 non-null  float64
 23  시간대_11~14_매출_건수     22260 non-null  float64
 24  시간대_14~17_매출_건수     22260 non-null  float64
 25  시간대_17~21_매출_건수     22260 non-null  float64
 26  시간대_21~06_매출_건수     22260 non-null  float64
 27  남성_매출_건수            22260 non-null  float64
 28  여성_매출_건수            22260 non-null  float64
 29  연령대_10_매출_건수        22260 non-null  float64
 30  연령대_20_매출_건수        22260 non-null  float64
 31  연령대_30_매출_건수        22260 non-null  float64
 32  연령대_40_매출_건수        22260 non-null  float64
 33  연령대_50_매출_건수        22260 non-null  float64
 34  연령대_60_이상_매출_건수     22260 non-null  float64
 35  당월_건당_매출_금액         22260 non-null  float64
 36  주중_건당_매출_금액         22260 non-null  float64
 37  주말_건당_매출_금액         22260 non-null  float64
 38  시간대_06~11_건당_매출_금액  22260 non-null  float64
 39  시간대_11~14_건당_매출_금액  22260 non-null  float64
 40  시간대_14~17_건당_매출_금액  22260 non-null  float64
 41  시간대_17~21_건당_매출_금액  22260 non-null  float64
 42  시간대_21~06_건당_매출_금액  22260 non-null  float64
 43  남성_건당_매출_금액         22260 non-null  float64
 44  여성_건당_매출_금액         22260 non-null  float64
 45  연령대_10_건당_매출_금액     22260 non-null  float64
 46  연령대_20_건당_매출_금액     22260 non-null  float64
 47  연령대_30_건당_매출_금액     22260 non-null  float64
 48  연령대_40_건당_매출_금액     22260 non-null  float64
 49  연령대_50_건당_매출_금액     22260 non-null  float64
 50  연령대_60_이상_건당_매출_금액  22260 non-null  float64
dtypes: float64(48), object(3)
memory usage: 8.7+ MB

In [52]:
estimated_sales.describe()

,당월_매출_금액,주중_매출_금액,주말_매출_금액,시간대_06~11_매출_금액,시간대_11~14_매출_금액,시간대_14~17_매출_금액,시간대_17~21_매출_금액,시간대_21~06_매출_금액,남성_매출_금액,여성_매출_금액,연령대_10_매출_금액,연령대_20_매출_금액,연령대_30_매출_금액,연령대_40_매출_금액,연령대_50_매출_금액,연령대_60_이상_매출_금액,당월_매출_건수,주중_매출_건수,주말_매출_건수,시간대_06~11_매출_건수,시간대_11~14_매출_건수,시간대_14~17_매출_건수,시간대_17~21_매출_건수,시간대_21~06_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,당월_건당_매출_금액,주중_건당_매출_금액,주말_건당_매출_금액,시간대_06~11_건당_매출_금액,시간대_11~14_건당_매출_금액,시간대_14~17_건당_매출_금액,시간대_17~21_건당_매출_금액,시간대_21~06_건당_매출_금액,남성_건당_매출_금액,여성_건당_매출_금액,연령대_10_건당_매출_금액,연령대_20_건당_매출_금액,연령대_30_건당_매출_금액,연령대_40_건당_매출_금액,연령대_50_건당_매출_금액,연령대_60_이상_건당_매출_금액
count,22260.000,22260.000,22260.000,22260.000,22260.000,22260.000,22260.000,22260.000,22260.000,22260.000,22260.000,22260.000,22260.000,22260.000,22260.000,22260.000,22260.000,22260.000,22260.000,22260.000,22260.000,22260.000,22260.000,22260.000,22260.000,22260.000,22260.000,22260.000,22260.000,22260.000,22260.000,22260.000,22260.000,22260.000,22260.000,22260.000,22260.000,22260.000,22260.000,22260.000,22260.000,22260.000,22260.000,22260.000,22260.000,22260.000,22260.000,22260.000
mean,1062641170.476,802511766.456,260129362.913,111129069.105,272294736.242,267047985.670,291642259.109,120527048.844,481871964.135,460040647.593,5467947.231,128612326.745,195192979.450,215418904.789,207079390.907,190138974.560,37290.152,28070.491,9219.661,5154.606,9698.510,7907.281,9946.395,4583.360,18410.666,17286.114,550.815,7512.541,8643.449,7110.534,6428.635,5450.804,120030.845,117528.800,76710.217,73295.248,91089.735,99391.076,94497.783,61651.246,104582.724,99878.682,12795.772,47902.928,75766.378,93810.347,99188.517,88031.388
std,9047572345.526,6244153785.506,3368505478.761,1128793054.369,2391244462.966,3012217110.733,2658313709.770,966641675.018,4291588410.543,3501183998.544,30194918.789,868653536.739,1646974500.982,1779184050.641,1853077929.628,1923202760.846,163067.984,114363.491,55517.077,28337.629,44538.901,42691.772,46089.280,23187.608,80845.420,80541.516,3427.287,40589.475,41150.259,31049.648,27671.458,34532.896,365871.411,351484.789,199887.650,347214.997,264552.124,311478.174,262680.510,156797.084,342942.056,272529.457,31256.943,141221.053,220725.782,277819.971,291939.356,358681.910
min,12.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
25%,44760396.500,33318733.312,7264254.438,454724.188,5515970.938,7733016.375,11380580.000,0.000,18152589.812,17048966.688,0.000,1540946.938,4992326.750,7780006.750,8230405.688,4361182.438,755.438,573.750,135.938,9.000,96.000,152.750,197.750,0.000,339.750,301.250,0.000,40.250,103.250,152.000,145.438,89.938,15531.845,15175.875,12195.134,6023.906,11210.188,12987.338,12796.618,0.000,13720.012,13388.226,0.000,7162.937,10096.549,12363.654,13268.659,12362.934
50%,173930874.000,130800509.875,35388432.625,6353301.417,32719951.500,34624096.583,47264065.500,4074953.875,77802334.000,70572784.000,252146.000,11730044.000,25152070.625,34343474.458,34270478.250,21043269.375,4181.375,3104.625,937.000,151.125,882.000,888.000,1180.250,70.000,2045.625,1779.250,13.500,399.000,713.250,829.625,843.875,562.750,34702.491,33767.451,29215.823,16510.633,24443.959,28113.998,30942.217,15011.499,29215.157,31364.274,5043.738,17316.525,24694.714,29070.784,30150.050,27987.247
75%,644813194.875,490718901.312,141152221.062,46773312.875,145192586.375,135620289.688,175784241.438,47168537.208,295376391.625,272829959.938,2204467.000,59492252.188,107105896.812,129014912.750,124751192.812,92793427.750,23533.875,17600.250,5373.000,1834.000,5893.312,4834.188,6458.625,1351.188,11045.688,10647.750,161.562,3045.625,4457.125,4465.562,4356.250,3252.250,101181.101,100381.397,67094.883,47531.800,68541.247,80248.481,79361.747,58437.307,82430.210,82130.886,14102.683,40029.073,57725.156,77110.389,80828.906,67223.296
max,812997750000.000,577535750000.000,381207250000.000,102898528092.750,209531250000.000,275157750000.000,295114000000.000,109409638109.250,443161000000.000,279021250000.000,1238219072.500,57148368537.000,145200500000.000,140463750000.000,154178000000.000,206182750000.000,9887216.500,5072132.500,4815084.000,1418436.250,2210652.000,2729476.250,3305396.000,1348562.250,5558248.750,4121995.000,236861.000,2816867.500,1842471.750,1816238.750,1960676.000,2759252.000,18191785.854,18191785.854,10333333.333,26457877.868,11040707.511,15599293.837,15758292.811,9777777.833,18191785.854,14000000.000,1332526.237,7581898.339,9232580.091,14000000.000,15354911.459,24057547.531

## 점포 변수 처리

In [56]:
store = store[store['기준_년분기_코드'] == 20232]

In [57]:
store.기준_년분기_코드.value_counts()

기준_년분기_코드
20232    76099
Name: count, dtype: int64

In [58]:
store.describe()

,기준_년분기_코드,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
count,76099.000,76099.000,76099.000,76099.000,76099.000,76099.000,76099.000,76099.000
mean,20232.000,6.019,6.464,2.503,0.153,2.367,0.168,0.445
std,0.000,41.496,41.876,11.382,0.667,11.330,0.899,2.220
min,20232.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
25%,20232.000,1.000,1.000,0.000,0.000,0.000,0.000,0.000
50%,20232.000,2.000,2.000,0.000,0.000,0.000,0.000,0.000
75%,20232.000,4.000,5.000,0.000,0.000,0.000,0.000,0.000
max,20232.000,8493.000,8509.000,200.000,23.000,200.000,146.000,127.000

In [59]:
store[store['점포_수'] == 8493]

,기준_년분기_코드,상권_구분_코드_명,상권_코드_명,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
1284404,20232,관광특구,동대문패션타운 관광특구,일반의류,8493,8509,0,18,2,146,16

In [60]:
area[area['상권_코드_명'] == "동대문패션타운 관광특구"]

     상권_구분_코드_명       상권_코드_명  엑스좌표_값  와이좌표_값 자치구_코드_명 행정동_코드_명   영역_면적
1646       관광특구  동대문패션타운 관광특구  200996  451976       중구      광희동  606058