<a href="https://colab.research.google.com/github/databeom/final-project/blob/sjun/Final_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 연동

In [49]:
## colab 버전은 csv 데이터 세트를 google drive에서 로딩 해야 합니다. 이를 위해 google drive를 colab에 mount 수행.
import os, sys
from google.colab import drive

drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [50]:
%cd '/content/gdrive/MyDrive/최종프로젝트/'
! ls

/content/gdrive/MyDrive/최종프로젝트
 data  'Final Project.ipynb'  '데이터 정의서.xlsx'   영역

# 라이브러리 설치

In [51]:
import pandas as pd
import os

In [52]:
pd.options.display.float_format = '{:.3f}'.format
pd.set_option('display.max_columns', None)

# 데이터 불러오기

In [53]:
PATH = 'data/'

file_list= os.listdir(PATH)
csv_list = list()

for file in file_list:
    if file.split(".")[-1] == 'csv':
        csv_list.append(file)

In [54]:
csv_list

['서울시 상권분석서비스(상주인구-상권).csv',
 '서울시 상권분석서비스(길단위인구-상권).csv',
 '서울시 상권분석서비스(상권변화지표-상권).csv',
 '서울시 상권분석서비스(아파트-상권).csv',
 '서울시 상권분석서비스(소득소비-상권).csv',
 '서울시 상권분석서비스(영역-상권).csv',
 '서울시 상권분석서비스(집객시설-상권).csv',
 '서울시 상권분석서비스(직장인구-상권).csv',
 '서울시 상권분석서비스(점포-상권).csv',
 '서울시 상권분석서비스(추정매출-상권).csv']

In [55]:
data = ['resident_popul', 'living_popul', 'indicator', 'apartment', 'income', 'area', 'facilitie', 'working_popul', 'store', 'estimated_sales']

for name, file in zip(data, csv_list):
    globals()[name] = pd.read_csv(PATH + file, encoding = "cp949")

# EDA

## 전체 데이터

### 데이터 확인

In [56]:
for i in data:
  print(i)
  print('------------------------------------------------')
  globals()[i].info()
  print('================================================')

resident_popul
------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24486 entries, 0 to 24485
Data columns (total 29 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   기준_년분기_코드           24486 non-null  int64
 1   상권_구분_코드            24486 non-null  object
 2   상권_구분_코드_명          24486 non-null  object
 3   상권_코드               24486 non-null  int64
 4   상권_코드_명             24486 non-null  object
 5   총_상주인구_수            24486 non-null  int64
 6   남성_상주인구_수           24486 non-null  int64
 7   여성_상주인구_수           24486 non-null  int64
 8   연령대_10_상주인구_수       24486 non-null  int64
 9   연령대_20_상주인구_수       24486 non-null  int64
 10  연령대_30_상주인구_수       24486 non-null  int64
 11  연령대_40_상주인구_수       24486 non-null  int64
 12  연령대_50_상주인구_수       24486 non-null  int64
 13  연령대_60_이상_상주인구_수    24486 non-null  int64
 14  남성연령대_10_상주인구_수     24486 non-null  int64
 15  남성연령대_20_상주인구_수     24486 non-null  int64
 16  남성연령대_30_상주인구_수     24486 non-null  int64
 17  남성연령대_40_상주인구_수     24486 non-null  int64
 18  남성연령대_50_상주인구_수     24486 non-null  int64
 19  남성연령대_60_이상_상주인구_수  24486 non-null  int64
 20  여성연령대_10_상주인구_수     24486 non-null  int64
 21  여성연령대_20_상주인구_수     24486 non-null  int64
 22  여성연령대_30_상주인구_수     24486 non-null  int64
 23  여성연령대_40_상주인구_수     24486 non-null  int64
 24  여성연령대_50_상주인구_수     24486 non-null  int64
 25  여성연령대_60_이상_상주인구_수  24486 non-null  int64
 26  총_가구_수              24486 non-null  int64
 27  아파트_가구_수            24486 non-null  int64
 28  비_아파트_가구_수          24486 non-null  int64
dtypes: int64(26), object(3)
memory usage: 5.4+ MB
================================================
living_popul
------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29697 entries, 0 to 29696
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   기준_년분기_코드         29697 non-null  int64
 1   상권_구분_코드          29697 non-null  object
 2   상권_구분_코드_명        29697 non-null  object
 3   상권_코드             29697 non-null  int64
 4   상권_코드_명           29697 non-null  object
 5   총_유동인구_수          29697 non-null  int64
 6   남성_유동인구_수         29697 non-null  int64
 7   여성_유동인구_수         29697 non-null  int64
 8   연령대_10_유동인구_수     29697 non-null  int64
 9   연령대_20_유동인구_수     29697 non-null  int64
 10  연령대_30_유동인구_수     29697 non-null  int64
 11  연령대_40_유동인구_수     29697 non-null  int64
 12  연령대_50_유동인구_수     29697 non-null  int64
 13  연령대_60_이상_유동인구_수  29697 non-null  int64
 14  시간대_00_06_유동인구_수  29697 non-null  int64
 15  시간대_06_11_유동인구_수  29697 non-null  int64
 16  시간대_11_14_유동인구_수  29697 non-null  int64
 17  시간대_14_17_유동인구_수  29697 non-null  int64
 18  시간대_17_21_유동인구_수  29697 non-null  int64
 19  시간대_21_24_유동인구_수  29697 non-null  int64
 20  월요일_유동인구_수        29697 non-null  int64
 21  화요일_유동인구_수        29697 non-null  int64
 22  수요일_유동인구_수        29697 non-null  int64
 23  목요일_유동인구_수        29697 non-null  int64
 24  금요일_유동인구_수        29697 non-null  int64
 25  토요일_유동인구_수        29697 non-null  int64
 26  일요일_유동인구_수        29697 non-null  int64
dtypes: int64(24), object(3)
memory usage: 6.1+ MB
================================================
indicator
------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29700 entries, 0 to 29699
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   기준_년분기_코드       29700 non-null  int64
 1   상권_구분_코드        29700 non-null  object
 2   상권_구분_코드_명      29700 non-null  object
 3   상권_코드           29700 non-null  int64
 4   상권_코드_명         29700 non-null  object
 5   상권_변화_지표        29700 non-null  object
 6   상권_변화_지표_명      29700 non-null  object
 7   운영_영업_개월_평균     29700 non-null  int64
 8   폐업_영업_개월_평균     29700 non-null  int64
 9   서울_운영_영업_개월_평균  29700 non-null  int64
 10  서울_폐업_영업_개월_평균  29700 non-null  int64
dtypes: int64(6), object(5)
memory usage: 2.5+ MB
================================================
apartment
------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22117 entries, 0 to 22116
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   기준_년분기_코드               22117 non-null  int64
 1   상권_구분_코드                22117 non-null  object
 2   상권_구분_코드_명              22117 non-null  object
 3   상권_코드                   22117 non-null  int64
 4   상권_코드_명                 22117 non-null  object
 5   아파트_단지_수                22117 non-null  int64
 6   아파트_면적_66_제곱미터_미만_세대_수  21579 non-null  float64
 7   아파트_면적_66_제곱미터_세대_수     20375 non-null  float64
 8   아파트_면적_99_제곱미터_세대_수     14043 non-null  float64
 9   아파트_면적_132_제곱미터_세대_수    7551 non-null   float64
 10  아파트_면적_165_제곱미터_세대_수    4652 non-null   float64
 11  아파트_가격_1_억_미만_세대_수      17927 non-null  float64
 12  아파트_가격_1_억_세대_수         20647 non-null  float64
 13  아파트_가격_2_억_세대_수         19800 non-null  float64
 14  아파트_가격_3_억_세대_수         14029 non-null  float64
 15  아파트_가격_4_억_세대_수         9061 non-null   float64
 16  아파트_가격_5_억_세대_수         6249 non-null   float64
 17  아파트_가격_6_억_이상_세대_수      5504 non-null   float64
 18  아파트_평균_면적               22117 non-null  int64
 19  아파트_평균_시가               22117 non-null  int64
dtypes: float64(12), int64(5), object(3)
memory usage: 3.4+ MB
================================================
income
------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29352 entries, 0 to 29351
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   기준_년분기_코드     29352 non-null  int64
 1   상권_구분_코드      29352 non-null  object
 2   상권_구분_코드_명    29352 non-null  object
 3   상권_코드         29352 non-null  int64
 4   상권_코드_명       29352 non-null  object
 5   월_평균_소득_금액    29196 non-null  float64
 6   소득_구간_코드      29196 non-null  float64
 7   지출_총금액        28728 non-null  float64
 8   식료품_지출_총금액    28728 non-null  float64
 9   의류_신발_지출_총금액  28728 non-null  float64
 10  생활용품_지출_총금액   28728 non-null  float64
 11  의료비_지출_총금액    28728 non-null  float64
 12  교통_지출_총금액     28728 non-null  float64
 13  여가_지출_총금액     28728 non-null  float64
 14  문화_지출_총금액     28728 non-null  float64
 15  교육_지출_총금액     28728 non-null  float64
 16  유흥_지출_총금액     28728 non-null  float64
dtypes: float64(12), int64(2), object(3)
memory usage: 3.8+ MB
================================================
area
------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1650 entries, 0 to 1649
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   상권_구분_코드    1650 non-null   object
 1   상권_구분_코드_명  1650 non-null   object
 2   상권_코드       1650 non-null   int64
 3   상권_코드_명     1650 non-null   object
 4   엑스좌표_값      1650 non-null   int64
 5   와이좌표_값      1650 non-null   int64
 6   자치구_코드      1650 non-null   int64
 7   자치구_코드_명    1650 non-null   object
 8   행정동_코드      1650 non-null   int64
 9   행정동_코드_명    1650 non-null   object
 10  영역_면적       1650 non-null   int64
dtypes: int64(6), object(5)
memory usage: 141.9+ KB
================================================
facilitie
------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17358 entries, 0 to 17357
Data columns (total 25 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   기준_년분기_코드   17358 non-null  int64
 1   상권_구분_코드    17358 non-null  object
 2   상권_구분_코드_명  17358 non-null  object
 3   상권_코드       17358 non-null  int64
 4   상권_코드_명     17358 non-null  object
 5   집객시설_수      17358 non-null  int64
 6   관공서_수       6930 non-null   float64
 7   은행_수        5357 non-null   float64
 8   종합병원_수      253 non-null    float64
 9   일반_병원_수     1452 non-null   float64
 10  약국_수        11099 non-null  float64
 11  유치원_수       1661 non-null   float64
 12  초등학교_수      143 non-null    float64
 13  중학교_수       44 non-null     float64
 14  고등학교_수      121 non-null    float64
 15  대학교_수       924 non-null    float64
 16  백화점_수       121 non-null    float64
 17  슈퍼마켓_수      1155 non-null   float64
 18  극장_수        924 non-null    float64
 19  숙박_시설_수     1595 non-null   float64
 20  공항_수        11 non-null     float64
 21  철도_역_수      0 non-null      float64
 22  버스_터미널_수    22 non-null     float64
 23  지하철_역_수     2145 non-null   float64
 24  버스_정거장_수    13970 non-null  float64
dtypes: float64(19), int64(3), object(3)
memory usage: 3.3+ MB
================================================
working_popul
------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25989 entries, 0 to 25988
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   기준_년분기_코드            25989 non-null  int64
 1   상권_구분_코드             25989 non-null  object
 2   상권_구분_코드_명           25989 non-null  object
 3   상권_코드                25989 non-null  int64
 4   상권_코드_명              25989 non-null  object
 5   총_직장_인구_수            25989 non-null  int64
 6   남성_직장_인구_수           25989 non-null  int64
 7   여성_직장_인구_수           25989 non-null  int64
 8   연령대_10_직장_인구_수       25989 non-null  int64
 9   연령대_20_직장_인구_수       25989 non-null  int64
 10  연령대_30_직장_인구_수       25989 non-null  int64
 11  연령대_40_직장_인구_수       25989 non-null  int64
 12  연령대_50_직장_인구_수       25989 non-null  int64
 13  연령대_60_이상_직장_인구_수    25989 non-null  int64
 14  남성연령대_10_직장_인구_수     25989 non-null  int64
 15  남성연령대_20_직장_인구_수     25989 non-null  int64
 16  남성연령대_30_직장_인구_수     25989 non-null  int64
 17  남성연령대_40_직장_인구_수     25989 non-null  int64
 18  남성연령대_50_직장_인구_수     25989 non-null  int64
 19  남성연령대_60_이상_직장_인구_수  25989 non-null  int64
 20  여성연령대_10_직장_인구_수     25989 non-null  int64
 21  여성연령대_20_직장_인구_수     25989 non-null  int64
 22  여성연령대_30_직장_인구_수     25989 non-null  int64
 23  여성연령대_40_직장_인구_수     25989 non-null  int64
 24  여성연령대_50_직장_인구_수     25989 non-null  int64
 25  여성연령대_60_이상_직장_인구_수  25989 non-null  int64
dtypes: int64(23), object(3)
memory usage: 5.2+ MB
================================================
store
------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 14 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   기준_년분기_코드    1048575 non-null  int64
 1   상권_구분_코드     1048575 non-null  object
 2   상권_구분_코드_명   1048575 non-null  object
 3   상권_코드        1048575 non-null  int64
 4   상권_코드_명      1048575 non-null  object
 5   서비스_업종_코드    1048575 non-null  object
 6   서비스_업종_코드_명  1048575 non-null  object
 7   점포_수         1048575 non-null  int64
 8   유사_업종_점포_수   1048575 non-null  int64
 9   개업_율         1048575 non-null  int64
 10  개업_점포_수      1048575 non-null  int64
 11  폐업_률         1048575 non-null  int64
 12  폐업_점포_수      1048575 non-null  int64
 13  프랜차이즈_점포_수   1048575 non-null  int64
dtypes: int64(9), object(5)
memory usage: 112.0+ MB
================================================
estimated_sales
------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204097 entries, 0 to 204096
Data columns (total 55 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   기준_년분기_코드        204097 non-null  int64
 1   상권_구분_코드         204097 non-null  object
 2   상권_구분_코드_명       204097 non-null  object
 3   상권_코드            204097 non-null  int64
 4   상권_코드_명          204097 non-null  object
 5   서비스_업종_코드        204097 non-null  object
 6   서비스_업종_코드_명      204097 non-null  object
 7   당월_매출_금액         204097 non-null  float64
 8   당월_매출_건수         204097 non-null  int64
 9   주중_매출_금액         204097 non-null  float64
 10  주말_매출_금액         204097 non-null  float64
 11  월요일_매출_금액        204097 non-null  float64
 12  화요일_매출_금액        204097 non-null  float64
 13  수요일_매출_금액        204097 non-null  float64
 14  목요일_매출_금액        204097 non-null  float64
 15  금요일_매출_금액        204097 non-null  float64
 16  토요일_매출_금액        204097 non-null  float64
 17  일요일_매출_금액        204097 non-null  float64
 18  시간대_00~06_매출_금액  204097 non-null  float64
 19  시간대_06~11_매출_금액  204097 non-null  float64
 20  시간대_11~14_매출_금액  204097 non-null  float64
 21  시간대_14~17_매출_금액  204097 non-null  float64
 22  시간대_17~21_매출_금액  204097 non-null  float64
 23  시간대_21~24_매출_금액  204097 non-null  int64
 24  남성_매출_금액         204097 non-null  float64
 25  여성_매출_금액         204097 non-null  float64
 26  연령대_10_매출_금액     204097 non-null  int64
 27  연령대_20_매출_금액     204097 non-null  int64
 28  연령대_30_매출_금액     204097 non-null  float64
 29  연령대_40_매출_금액     204097 non-null  float64
 30  연령대_50_매출_금액     204097 non-null  float64
 31  연령대_60_이상_매출_금액  204097 non-null  float64
 32  주중_매출_건수         204097 non-null  int64
 33  주말_매출_건수         204097 non-null  int64
 34  월요일_매출_건수        204097 non-null  int64
 35  화요일_매출_건수        204097 non-null  int64
 36  수요일_매출_건수        204097 non-null  int64
 37  목요일_매출_건수        204097 non-null  int64
 38  금요일_매출_건수        204097 non-null  int64
 39  토요일_매출_건수        204097 non-null  int64
 40  일요일_매출_건수        204097 non-null  int64
 41  시간대_건수~06_매출_건수  204097 non-null  int64
 42  시간대_건수~11_매출_건수  204097 non-null  int64
 43  시간대_건수~14_매출_건수  204097 non-null  int64
 44  시간대_건수~17_매출_건수  204097 non-null  int64
 45  시간대_건수~21_매출_건수  204097 non-null  int64
 46  시간대_건수~24_매출_건수  204097 non-null  int64
 47  남성_매출_건수         204097 non-null  int64
 48  여성_매출_건수         204097 non-null  int64
 49  연령대_10_매출_건수     204097 non-null  int64
 50  연령대_20_매출_건수     204097 non-null  int64
 51  연령대_30_매출_건수     204097 non-null  int64
 52  연령대_40_매출_건수     204097 non-null  int64
 53  연령대_50_매출_건수     204097 non-null  int64
 54  연령대_60_이상_매출_건수  204097 non-null  int64
dtypes: float64(21), int64(29), object(5)
memory usage: 85.6+ MB
================================================

### 결측값 확인

In [57]:
for i in data:
  print(i)
  print('------------------------------------------------')
  print(globals()[i].isnull().sum())
  print('================================================')

resident_popul
------------------------------------------------
기준_년분기_코드             0
상권_구분_코드              0
상권_구분_코드_명            0
상권_코드                 0
상권_코드_명               0
총_상주인구_수              0
남성_상주인구_수             0
여성_상주인구_수             0
연령대_10_상주인구_수         0
연령대_20_상주인구_수         0
연령대_30_상주인구_수         0
연령대_40_상주인구_수         0
연령대_50_상주인구_수         0
연령대_60_이상_상주인구_수      0
남성연령대_10_상주인구_수       0
남성연령대_20_상주인구_수       0
남성연령대_30_상주인구_수       0
남성연령대_40_상주인구_수       0
남성연령대_50_상주인구_수       0
남성연령대_60_이상_상주인구_수    0
여성연령대_10_상주인구_수       0
여성연령대_20_상주인구_수       0
여성연령대_30_상주인구_수       0
여성연령대_40_상주인구_수       0
여성연령대_50_상주인구_수       0
여성연령대_60_이상_상주인구_수    0
총_가구_수                0
아파트_가구_수              0
비_아파트_가구_수            0
dtype: int64
================================================
living_popul
------------------------------------------------
기준_년분기_코드           0
상권_구분_코드            0
상권_구분_코드_명          0
상권_코드               0
상권_코드_명             0
총_유동인구_수            0
남성_유동인구_수           0
여성_유동인구_수           0
연령대_10_유동인구_수       0
연령대_20_유동인구_수       0
연령대_30_유동인구_수       0
연령대_40_유동인구_수       0
연령대_50_유동인구_수       0
연령대_60_이상_유동인구_수    0
시간대_00_06_유동인구_수    0
시간대_06_11_유동인구_수    0
시간대_11_14_유동인구_수    0
시간대_14_17_유동인구_수    0
시간대_17_21_유동인구_수    0
시간대_21_24_유동인구_수    0
월요일_유동인구_수          0
화요일_유동인구_수          0
수요일_유동인구_수          0
목요일_유동인구_수          0
금요일_유동인구_수          0
토요일_유동인구_수          0
일요일_유동인구_수          0
dtype: int64
================================================
indicator
------------------------------------------------
기준_년분기_코드         0
상권_구분_코드          0
상권_구분_코드_명        0
상권_코드             0
상권_코드_명           0
상권_변화_지표          0
상권_변화_지표_명        0
운영_영업_개월_평균       0
폐업_영업_개월_평균       0
서울_운영_영업_개월_평균    0
서울_폐업_영업_개월_평균    0
dtype: int64
================================================
apartment
------------------------------------------------
기준_년분기_코드                     0
상권_구분_코드                      0
상권_구분_코드_명                    0
상권_코드                         0
상권_코드_명                       0
아파트_단지_수                      0
아파트_면적_66_제곱미터_미만_세대_수      538
아파트_면적_66_제곱미터_세대_수        1742
아파트_면적_99_제곱미터_세대_수        8074
아파트_면적_132_제곱미터_세대_수      14566
아파트_면적_165_제곱미터_세대_수      17465
아파트_가격_1_억_미만_세대_수         4190
아파트_가격_1_억_세대_수            1470
아파트_가격_2_억_세대_수            2317
아파트_가격_3_억_세대_수            8088
아파트_가격_4_억_세대_수           13056
아파트_가격_5_억_세대_수           15868
아파트_가격_6_억_이상_세대_수        16613
아파트_평균_면적                     0
아파트_평균_시가                     0
dtype: int64
================================================
income
------------------------------------------------
기준_년분기_코드         0
상권_구분_코드          0
상권_구분_코드_명        0
상권_코드             0
상권_코드_명           0
월_평균_소득_금액      156
소득_구간_코드        156
지출_총금액          624
식료품_지출_총금액      624
의류_신발_지출_총금액    624
생활용품_지출_총금액     624
의료비_지출_총금액      624
교통_지출_총금액       624
여가_지출_총금액       624
문화_지출_총금액       624
교육_지출_총금액       624
유흥_지출_총금액       624
dtype: int64
================================================
area
------------------------------------------------
상권_구분_코드      0
상권_구분_코드_명    0
상권_코드         0
상권_코드_명       0
엑스좌표_값        0
와이좌표_값        0
자치구_코드        0
자치구_코드_명      0
행정동_코드        0
행정동_코드_명      0
영역_면적         0
dtype: int64
================================================
facilitie
------------------------------------------------
기준_년분기_코드         0
상권_구분_코드          0
상권_구분_코드_명        0
상권_코드             0
상권_코드_명           0
집객시설_수            0
관공서_수         10428
은행_수          12001
종합병원_수        17105
일반_병원_수       15906
약국_수           6259
유치원_수         15697
초등학교_수        17215
중학교_수         17314
고등학교_수        17237
대학교_수         16434
백화점_수         17237
슈퍼마켓_수        16203
극장_수          16434
숙박_시설_수       15763
공항_수          17347
철도_역_수        17358
버스_터미널_수      17336
지하철_역_수       15213
버스_정거장_수       3388
dtype: int64
================================================
working_popul
------------------------------------------------
기준_년분기_코드              0
상권_구분_코드               0
상권_구분_코드_명             0
상권_코드                  0
상권_코드_명                0
총_직장_인구_수              0
남성_직장_인구_수             0
여성_직장_인구_수             0
연령대_10_직장_인구_수         0
연령대_20_직장_인구_수         0
연령대_30_직장_인구_수         0
연령대_40_직장_인구_수         0
연령대_50_직장_인구_수         0
연령대_60_이상_직장_인구_수      0
남성연령대_10_직장_인구_수       0
남성연령대_20_직장_인구_수       0
남성연령대_30_직장_인구_수       0
남성연령대_40_직장_인구_수       0
남성연령대_50_직장_인구_수       0
남성연령대_60_이상_직장_인구_수    0
여성연령대_10_직장_인구_수       0
여성연령대_20_직장_인구_수       0
여성연령대_30_직장_인구_수       0
여성연령대_40_직장_인구_수       0
여성연령대_50_직장_인구_수       0
여성연령대_60_이상_직장_인구_수    0
dtype: int64
================================================
store
------------------------------------------------
기준_년분기_코드      0
상권_구분_코드       0
상권_구분_코드_명     0
상권_코드          0
상권_코드_명        0
서비스_업종_코드      0
서비스_업종_코드_명    0
점포_수           0
유사_업종_점포_수     0
개업_율           0
개업_점포_수        0
폐업_률           0
폐업_점포_수        0
프랜차이즈_점포_수     0
dtype: int64
================================================
estimated_sales
------------------------------------------------
기준_년분기_코드          0
상권_구분_코드           0
상권_구분_코드_명         0
상권_코드              0
상권_코드_명            0
서비스_업종_코드          0
서비스_업종_코드_명        0
당월_매출_금액           0
당월_매출_건수           0
주중_매출_금액           0
주말_매출_금액           0
월요일_매출_금액          0
화요일_매출_금액          0
수요일_매출_금액          0
목요일_매출_금액          0
금요일_매출_금액          0
토요일_매출_금액          0
일요일_매출_금액          0
시간대_00~06_매출_금액    0
시간대_06~11_매출_금액    0
시간대_11~14_매출_금액    0
시간대_14~17_매출_금액    0
시간대_17~21_매출_금액    0
시간대_21~24_매출_금액    0
남성_매출_금액           0
여성_매출_금액           0
연령대_10_매출_금액       0
연령대_20_매출_금액       0
연령대_30_매출_금액       0
연령대_40_매출_금액       0
연령대_50_매출_금액       0
연령대_60_이상_매출_금액    0
주중_매출_건수           0
주말_매출_건수           0
월요일_매출_건수          0
화요일_매출_건수          0
수요일_매출_건수          0
목요일_매출_건수          0
금요일_매출_건수          0
토요일_매출_건수          0
일요일_매출_건수          0
시간대_건수~06_매출_건수    0
시간대_건수~11_매출_건수    0
시간대_건수~14_매출_건수    0
시간대_건수~17_매출_건수    0
시간대_건수~21_매출_건수    0
시간대_건수~24_매출_건수    0
남성_매출_건수           0
여성_매출_건수           0
연령대_10_매출_건수       0
연령대_20_매출_건수       0
연령대_30_매출_건수       0
연령대_40_매출_건수       0
연령대_50_매출_건수       0
연령대_60_이상_매출_건수    0
dtype: int64
================================================

### 0인 값 확인

In [58]:
for i in data:
  col = list(globals()[i].columns)
  print(i)
  print('------------------------------------------------------')
  for j in col:
    print(f'{j} : {len(globals()[i][globals()[i][j] == 0])}')
  print('======================================================')

resident_popul
------------------------------------------------------
기준_년분기_코드 : 0
상권_구분_코드 : 0
상권_구분_코드_명 : 0
상권_코드 : 0
상권_코드_명 : 0
총_상주인구_수 : 0
남성_상주인구_수 : 15
여성_상주인구_수 : 118
연령대_10_상주인구_수 : 591
연령대_20_상주인구_수 : 359
연령대_30_상주인구_수 : 240
연령대_40_상주인구_수 : 192
연령대_50_상주인구_수 : 139
연령대_60_이상_상주인구_수 : 81
남성연령대_10_상주인구_수 : 827
남성연령대_20_상주인구_수 : 462
남성연령대_30_상주인구_수 : 330
남성연령대_40_상주인구_수 : 307
남성연령대_50_상주인구_수 : 193
남성연령대_60_이상_상주인구_수 : 123
여성연령대_10_상주인구_수 : 830
여성연령대_20_상주인구_수 : 660
여성연령대_30_상주인구_수 : 520
여성연령대_40_상주인구_수 : 475
여성연령대_50_상주인구_수 : 354
여성연령대_60_이상_상주인구_수 : 225
총_가구_수 : 0
아파트_가구_수 : 24486
비_아파트_가구_수 : 0
======================================================
living_popul
------------------------------------------------------
기준_년분기_코드 : 0
상권_구분_코드 : 0
상권_구분_코드_명 : 0
상권_코드 : 0
상권_코드_명 : 0
총_유동인구_수 : 0
남성_유동인구_수 : 0
여성_유동인구_수 : 3
연령대_10_유동인구_수 : 17
연령대_20_유동인구_수 : 7
연령대_30_유동인구_수 : 6
연령대_40_유동인구_수 : 3
연령대_50_유동인구_수 : 3
연령대_60_이상_유동인구_수 : 2
시간대_00_06_유동인구_수 : 7
시간대_06_11_유동인구_수 : 0
시간대_11_14_유동인구_수 : 0
시간대_14_17_유동인구_수 : 1
시간대_17_21_유동인구_수 : 3
시간대_21_24_유동인구_수 : 18
월요일_유동인구_수 : 2
화요일_유동인구_수 : 2
수요일_유동인구_수 : 1
목요일_유동인구_수 : 1
금요일_유동인구_수 : 3
토요일_유동인구_수 : 2
일요일_유동인구_수 : 3
======================================================
indicator
------------------------------------------------------
기준_년분기_코드 : 0
상권_구분_코드 : 0
상권_구분_코드_명 : 0
상권_코드 : 0
상권_코드_명 : 0
상권_변화_지표 : 0
상권_변화_지표_명 : 0
운영_영업_개월_평균 : 36
폐업_영업_개월_평균 : 0
서울_운영_영업_개월_평균 : 0
서울_폐업_영업_개월_평균 : 0
======================================================
apartment
------------------------------------------------------
기준_년분기_코드 : 0
상권_구분_코드 : 0
상권_구분_코드_명 : 0
상권_코드 : 0
상권_코드_명 : 0
아파트_단지_수 : 0
아파트_면적_66_제곱미터_미만_세대_수 : 0
아파트_면적_66_제곱미터_세대_수 : 0
아파트_면적_99_제곱미터_세대_수 : 0
아파트_면적_132_제곱미터_세대_수 : 0
아파트_면적_165_제곱미터_세대_수 : 0
아파트_가격_1_억_미만_세대_수 : 0
아파트_가격_1_억_세대_수 : 0
아파트_가격_2_억_세대_수 : 0
아파트_가격_3_억_세대_수 : 0
아파트_가격_4_억_세대_수 : 0
아파트_가격_5_억_세대_수 : 0
아파트_가격_6_억_이상_세대_수 : 0
아파트_평균_면적 : 0
아파트_평균_시가 : 0
======================================================
income
------------------------------------------------------
기준_년분기_코드 : 0
상권_구분_코드 : 0
상권_구분_코드_명 : 0
상권_코드 : 0
상권_코드_명 : 0
월_평균_소득_금액 : 0
소득_구간_코드 : 0
지출_총금액 : 0
식료품_지출_총금액 : 0
의류_신발_지출_총금액 : 0
생활용품_지출_총금액 : 0
의료비_지출_총금액 : 0
교통_지출_총금액 : 0
여가_지출_총금액 : 0
문화_지출_총금액 : 0
교육_지출_총금액 : 0
유흥_지출_총금액 : 0
======================================================
area
------------------------------------------------------
상권_구분_코드 : 0
상권_구분_코드_명 : 0
상권_코드 : 0
상권_코드_명 : 0
엑스좌표_값 : 0
와이좌표_값 : 0
자치구_코드 : 0
자치구_코드_명 : 0
행정동_코드 : 0
행정동_코드_명 : 0
영역_면적 : 0
======================================================
facilitie
------------------------------------------------------
기준_년분기_코드 : 0
상권_구분_코드 : 0
상권_구분_코드_명 : 0
상권_코드 : 0
상권_코드_명 : 0
집객시설_수 : 0
관공서_수 : 0
은행_수 : 0
종합병원_수 : 0
일반_병원_수 : 0
약국_수 : 0
유치원_수 : 0
초등학교_수 : 0
중학교_수 : 0
고등학교_수 : 0
대학교_수 : 0
백화점_수 : 0
슈퍼마켓_수 : 0
극장_수 : 0
숙박_시설_수 : 0
공항_수 : 0
철도_역_수 : 0
버스_터미널_수 : 0
지하철_역_수 : 0
버스_정거장_수 : 0
======================================================
working_popul
------------------------------------------------------
기준_년분기_코드 : 0
상권_구분_코드 : 0
상권_구분_코드_명 : 0
상권_코드 : 0
상권_코드_명 : 0
총_직장_인구_수 : 0
남성_직장_인구_수 : 60
여성_직장_인구_수 : 45
연령대_10_직장_인구_수 : 13642
연령대_20_직장_인구_수 : 959
연령대_30_직장_인구_수 : 337
연령대_40_직장_인구_수 : 198
연령대_50_직장_인구_수 : 166
연령대_60_이상_직장_인구_수 : 476
남성연령대_10_직장_인구_수 : 16761
남성연령대_20_직장_인구_수 : 2281
남성연령대_30_직장_인구_수 : 922
남성연령대_40_직장_인구_수 : 496
남성연령대_50_직장_인구_수 : 384
남성연령대_60_이상_직장_인구_수 : 636
여성연령대_10_직장_인구_수 : 16797
여성연령대_20_직장_인구_수 : 1695
여성연령대_30_직장_인구_수 : 1063
여성연령대_40_직장_인구_수 : 608
여성연령대_50_직장_인구_수 : 606
여성연령대_60_이상_직장_인구_수 : 1433
======================================================
store
------------------------------------------------------
기준_년분기_코드 : 0
상권_구분_코드 : 0
상권_구분_코드_명 : 0
상권_코드 : 0
상권_코드_명 : 0
서비스_업종_코드 : 0
서비스_업종_코드_명 : 0
점포_수 : 40309
유사_업종_점포_수 : 7340
개업_율 : 920770
개업_점포_수 : 920597
폐업_률 : 948860
폐업_점포_수 : 941654
프랜차이즈_점포_수 : 884251
======================================================
estimated_sales
------------------------------------------------------
기준_년분기_코드 : 0
상권_구분_코드 : 0
상권_구분_코드_명 : 0
상권_코드 : 0
상권_코드_명 : 0
서비스_업종_코드 : 0
서비스_업종_코드_명 : 0
당월_매출_금액 : 0
당월_매출_건수 : 0
주중_매출_금액 : 887
주말_매출_금액 : 16785
월요일_매출_금액 : 12689
화요일_매출_금액 : 11846
수요일_매출_금액 : 11532
목요일_매출_금액 : 11199
금요일_매출_금액 : 10539
토요일_매출_금액 : 19263
일요일_매출_금액 : 54704
시간대_00~06_매출_금액 : 135168
시간대_06~11_매출_금액 : 49578
시간대_11~14_매출_금액 : 20000
시간대_14~17_매출_금액 : 11010
시간대_17~21_매출_금액 : 8460
시간대_21~24_매출_금액 : 66353
남성_매출_금액 : 5568
여성_매출_금액 : 4394
연령대_10_매출_금액 : 86900
연령대_20_매출_금액 : 29263
연령대_30_매출_금액 : 15927
연령대_40_매출_금액 : 10409
연령대_50_매출_금액 : 11253
연령대_60_이상_매출_금액 : 19061
주중_매출_건수 : 885
주말_매출_건수 : 16737
월요일_매출_건수 : 12658
화요일_매출_건수 : 11804
수요일_매출_건수 : 11485
목요일_매출_건수 : 11155
금요일_매출_건수 : 10503
토요일_매출_건수 : 19207
일요일_매출_건수 : 54659
시간대_건수~06_매출_건수 : 135169
시간대_건수~11_매출_건수 : 49542
시간대_건수~14_매출_건수 : 19975
시간대_건수~17_매출_건수 : 10983
시간대_건수~21_매출_건수 : 8436
시간대_건수~24_매출_건수 : 66276
남성_매출_건수 : 5552
여성_매출_건수 : 4375
연령대_10_매출_건수 : 86933
연령대_20_매출_건수 : 29213
연령대_30_매출_건수 : 15881
연령대_40_매출_건수 : 10379
연령대_50_매출_건수 : 11213
연령대_60_이상_매출_건수 : 19018
======================================================

## 상주인구

### 데이터 확인

In [59]:
resident_popul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24486 entries, 0 to 24485
Data columns (total 29 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   기준_년분기_코드           24486 non-null  int64
 1   상권_구분_코드            24486 non-null  object
 2   상권_구분_코드_명          24486 non-null  object
 3   상권_코드               24486 non-null  int64
 4   상권_코드_명             24486 non-null  object
 5   총_상주인구_수            24486 non-null  int64
 6   남성_상주인구_수           24486 non-null  int64
 7   여성_상주인구_수           24486 non-null  int64
 8   연령대_10_상주인구_수       24486 non-null  int64
 9   연령대_20_상주인구_수       24486 non-null  int64
 10  연령대_30_상주인구_수       24486 non-null  int64
 11  연령대_40_상주인구_수       24486 non-null  int64
 12  연령대_50_상주인구_수       24486 non-null  int64
 13  연령대_60_이상_상주인구_수    24486 non-null  int64
 14  남성연령대_10_상주인구_수     24486 non-null  int64
 15  남성연령대_20_상주인구_수     24486 non-null  int64
 16  남성연령대_30_상주인구_수     24486 non-null  int64
 17  남성연령대_40_상주인구_수     24486 non-null  int64
 18  남성연령대_50_상주인구_수     24486 non-null  int64
 19  남성연령대_60_이상_상주인구_수  24486 non-null  int64
 20  여성연령대_10_상주인구_수     24486 non-null  int64
 21  여성연령대_20_상주인구_수     24486 non-null  int64
 22  여성연령대_30_상주인구_수     24486 non-null  int64
 23  여성연령대_40_상주인구_수     24486 non-null  int64
 24  여성연령대_50_상주인구_수     24486 non-null  int64
 25  여성연령대_60_이상_상주인구_수  24486 non-null  int64
 26  총_가구_수              24486 non-null  int64
 27  아파트_가구_수            24486 non-null  int64
 28  비_아파트_가구_수          24486 non-null  int64
dtypes: int64(26), object(3)
memory usage: 5.4+ MB

### 결측값 확인

In [60]:
resident_popul.isnull().sum()

기준_년분기_코드             0
상권_구분_코드              0
상권_구분_코드_명            0
상권_코드                 0
상권_코드_명               0
총_상주인구_수              0
남성_상주인구_수             0
여성_상주인구_수             0
연령대_10_상주인구_수         0
연령대_20_상주인구_수         0
연령대_30_상주인구_수         0
연령대_40_상주인구_수         0
연령대_50_상주인구_수         0
연령대_60_이상_상주인구_수      0
남성연령대_10_상주인구_수       0
남성연령대_20_상주인구_수       0
남성연령대_30_상주인구_수       0
남성연령대_40_상주인구_수       0
남성연령대_50_상주인구_수       0
남성연령대_60_이상_상주인구_수    0
여성연령대_10_상주인구_수       0
여성연령대_20_상주인구_수       0
여성연령대_30_상주인구_수       0
여성연령대_40_상주인구_수       0
여성연령대_50_상주인구_수       0
여성연령대_60_이상_상주인구_수    0
총_가구_수                0
아파트_가구_수              0
비_아파트_가구_수            0
dtype: int64

### 기술통계량

In [61]:
resident_popul.describe()

,기준_년분기_코드,상권_코드,총_상주인구_수,남성_상주인구_수,여성_상주인구_수,연령대_10_상주인구_수,연령대_20_상주인구_수,연령대_30_상주인구_수,연령대_40_상주인구_수,연령대_50_상주인구_수,연령대_60_이상_상주인구_수,남성연령대_10_상주인구_수,남성연령대_20_상주인구_수,남성연령대_30_상주인구_수,남성연령대_40_상주인구_수,남성연령대_50_상주인구_수,남성연령대_60_이상_상주인구_수,여성연령대_10_상주인구_수,여성연령대_20_상주인구_수,여성연령대_30_상주인구_수,여성연령대_40_상주인구_수,여성연령대_50_상주인구_수,여성연령대_60_이상_상주인구_수,총_가구_수,아파트_가구_수,비_아파트_가구_수
count,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000
mean,20213.785,3115106.470,2370.402,1165.946,1204.455,251.370,391.831,401.826,355.496,372.310,597.570,128.947,187.724,206.922,182.484,186.751,273.118,122.422,204.107,194.903,173.011,185.559,324.452,1254.353,0.000,1254.353
std,11.114,10294.687,2330.524,1144.847,1192.085,283.494,440.017,438.885,365.876,373.136,591.028,145.620,207.390,226.066,186.616,184.754,269.621,138.541,239.475,216.629,181.468,190.638,323.218,1225.015,0.000,1225.015
min,20194.000,3001491.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,0.000,1.000
25%,20203.000,3110403.000,668.000,330.000,333.000,58.000,92.000,98.000,95.000,98.000,163.000,29.000,45.000,51.000,49.000,51.000,76.000,28.000,46.000,47.000,44.000,46.000,87.000,362.250,0.000,362.250
50%,20213.000,3110811.000,1655.000,818.000,837.000,161.000,255.000,264.000,239.000,257.000,418.000,82.000,124.000,137.000,125.000,130.000,190.000,78.000,129.000,126.000,115.000,125.000,225.000,884.000,0.000,884.000
75%,20223.000,3120133.000,3361.000,1641.000,1717.000,348.000,537.000,557.000,493.000,529.000,842.000,180.000,261.000,286.000,254.000,265.000,386.000,168.000,274.000,266.000,242.750,263.000,459.000,1765.000,0.000,1765.000
max,20232.000,3130327.000,21341.000,10459.000,10882.000,3301.000,4457.000,4207.000,4280.000,3161.000,5181.000,1662.000,2161.000,2148.000,2235.000,1577.000,2260.000,1639.000,2812.000,2070.000,2045.000,1603.000,2921.000,8900.000,0.000,8900.000

### 0인 값 확인

In [62]:
col = list(resident_popul.columns)

for i in col:
    print(f'{i} : {len(resident_popul[resident_popul[i] == 0])}')

기준_년분기_코드 : 0
상권_구분_코드 : 0
상권_구분_코드_명 : 0
상권_코드 : 0
상권_코드_명 : 0
총_상주인구_수 : 0
남성_상주인구_수 : 15
여성_상주인구_수 : 118
연령대_10_상주인구_수 : 591
연령대_20_상주인구_수 : 359
연령대_30_상주인구_수 : 240
연령대_40_상주인구_수 : 192
연령대_50_상주인구_수 : 139
연령대_60_이상_상주인구_수 : 81
남성연령대_10_상주인구_수 : 827
남성연령대_20_상주인구_수 : 462
남성연령대_30_상주인구_수 : 330
남성연령대_40_상주인구_수 : 307
남성연령대_50_상주인구_수 : 193
남성연령대_60_이상_상주인구_수 : 123
여성연령대_10_상주인구_수 : 830
여성연령대_20_상주인구_수 : 660
여성연령대_30_상주인구_수 : 520
여성연령대_40_상주인구_수 : 475
여성연령대_50_상주인구_수 : 354
여성연령대_60_이상_상주인구_수 : 225
총_가구_수 : 0
아파트_가구_수 : 24486
비_아파트_가구_수 : 0

## 생활인구(길단위인구)

### 데이터 확인

In [64]:
living_popul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29697 entries, 0 to 29696
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   기준_년분기_코드         29697 non-null  int64
 1   상권_구분_코드          29697 non-null  object
 2   상권_구분_코드_명        29697 non-null  object
 3   상권_코드             29697 non-null  int64
 4   상권_코드_명           29697 non-null  object
 5   총_유동인구_수          29697 non-null  int64
 6   남성_유동인구_수         29697 non-null  int64
 7   여성_유동인구_수         29697 non-null  int64
 8   연령대_10_유동인구_수     29697 non-null  int64
 9   연령대_20_유동인구_수     29697 non-null  int64
 10  연령대_30_유동인구_수     29697 non-null  int64
 11  연령대_40_유동인구_수     29697 non-null  int64
 12  연령대_50_유동인구_수     29697 non-null  int64
 13  연령대_60_이상_유동인구_수  29697 non-null  int64
 14  시간대_00_06_유동인구_수  29697 non-null  int64
 15  시간대_06_11_유동인구_수  29697 non-null  int64
 16  시간대_11_14_유동인구_수  29697 non-null  int64
 17  시간대_14_17_유동인구_수  29697 non-null  int64
 18  시간대_17_21_유동인구_수  29697 non-null  int64
 19  시간대_21_24_유동인구_수  29697 non-null  int64
 20  월요일_유동인구_수        29697 non-null  int64
 21  화요일_유동인구_수        29697 non-null  int64
 22  수요일_유동인구_수        29697 non-null  int64
 23  목요일_유동인구_수        29697 non-null  int64
 24  금요일_유동인구_수        29697 non-null  int64
 25  토요일_유동인구_수        29697 non-null  int64
 26  일요일_유동인구_수        29697 non-null  int64
dtypes: int64(24), object(3)
memory usage: 6.1+ MB

### 결측값 확인

In [65]:
living_popul.isnull().sum()

기준_년분기_코드           0
상권_구분_코드            0
상권_구분_코드_명          0
상권_코드               0
상권_코드_명             0
총_유동인구_수            0
남성_유동인구_수           0
여성_유동인구_수           0
연령대_10_유동인구_수       0
연령대_20_유동인구_수       0
연령대_30_유동인구_수       0
연령대_40_유동인구_수       0
연령대_50_유동인구_수       0
연령대_60_이상_유동인구_수    0
시간대_00_06_유동인구_수    0
시간대_06_11_유동인구_수    0
시간대_11_14_유동인구_수    0
시간대_14_17_유동인구_수    0
시간대_17_21_유동인구_수    0
시간대_21_24_유동인구_수    0
월요일_유동인구_수          0
화요일_유동인구_수          0
수요일_유동인구_수          0
목요일_유동인구_수          0
금요일_유동인구_수          0
토요일_유동인구_수          0
일요일_유동인구_수          0
dtype: int64

### 기술통계량

In [66]:
living_popul.describe()

,기준_년분기_코드,상권_코드,총_유동인구_수,남성_유동인구_수,여성_유동인구_수,연령대_10_유동인구_수,연령대_20_유동인구_수,연령대_30_유동인구_수,연령대_40_유동인구_수,연령대_50_유동인구_수,연령대_60_이상_유동인구_수,시간대_00_06_유동인구_수,시간대_06_11_유동인구_수,시간대_11_14_유동인구_수,시간대_14_17_유동인구_수,시간대_17_21_유동인구_수,시간대_21_24_유동인구_수,월요일_유동인구_수,화요일_유동인구_수,수요일_유동인구_수,목요일_유동인구_수,금요일_유동인구_수,토요일_유동인구_수,일요일_유동인구_수
count,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000
mean,20210.165,3115222.337,849217.987,404971.270,444246.732,108673.070,148973.201,148289.672,135170.407,123309.663,184802.052,203800.421,172940.710,109577.727,110729.237,147129.064,105040.900,121943.887,122632.544,122783.235,122711.182,122494.164,119253.399,117399.659
std,13.005,10319.136,900861.874,438111.228,466613.121,115374.084,208560.138,178913.250,148411.424,129136.332,191047.747,215107.128,179918.266,132977.721,136754.309,167214.920,110024.962,130296.575,132288.627,132463.082,132664.958,132914.810,125689.980,120948.568
min,20191.000,3001491.000,12.000,12.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,4.000,5.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
25%,20201.000,3110407.000,239327.000,113706.000,124188.000,27047.000,34230.000,37872.000,38613.000,35226.000,50992.000,50676.000,48650.000,30552.000,30828.000,41091.000,27878.000,34231.000,34320.000,34408.000,34375.000,34290.000,32940.000,32515.000
50%,20211.000,3110819.000,586127.000,278176.000,305876.000,73190.000,87095.000,95816.000,92482.000,84841.000,129419.000,135331.000,119947.000,74229.000,74596.000,99182.000,71533.000,84182.000,84419.000,84641.000,84498.000,84212.000,82137.000,80924.000
75%,20222.000,3120142.000,1161575.000,552521.000,608168.000,152237.000,186438.000,191694.000,183294.000,171928.000,258293.000,285456.000,238004.000,144099.000,144545.000,197986.000,145049.000,167551.000,168174.000,168155.000,168030.000,167162.000,163242.000,161435.000
max,20232.000,3130327.000,10936954.000,5904661.000,5075322.000,2025696.000,3487417.000,2147251.000,1926666.000,1896481.000,2789894.000,2637438.000,1947241.000,2251342.000,2437343.000,2319158.000,1092221.000,1636435.000,1723636.000,1730759.000,1783350.000,1802017.000,1425047.000,1338150.000

### 0인 값 확인

In [67]:
col = list(living_popul.columns)

for i in col:
    print(f'{i} : {len(living_popul[living_popul[i] == 0])}')

기준_년분기_코드 : 0
상권_구분_코드 : 0
상권_구분_코드_명 : 0
상권_코드 : 0
상권_코드_명 : 0
총_유동인구_수 : 0
남성_유동인구_수 : 0
여성_유동인구_수 : 3
연령대_10_유동인구_수 : 17
연령대_20_유동인구_수 : 7
연령대_30_유동인구_수 : 6
연령대_40_유동인구_수 : 3
연령대_50_유동인구_수 : 3
연령대_60_이상_유동인구_수 : 2
시간대_00_06_유동인구_수 : 7
시간대_06_11_유동인구_수 : 0
시간대_11_14_유동인구_수 : 0
시간대_14_17_유동인구_수 : 1
시간대_17_21_유동인구_수 : 3
시간대_21_24_유동인구_수 : 18
월요일_유동인구_수 : 2
화요일_유동인구_수 : 2
수요일_유동인구_수 : 1
목요일_유동인구_수 : 1
금요일_유동인구_수 : 3
토요일_유동인구_수 : 2
일요일_유동인구_수 : 3

## 상권변화지표

### 데이터 확인

In [68]:
indicator.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29700 entries, 0 to 29699
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   기준_년분기_코드       29700 non-null  int64
 1   상권_구분_코드        29700 non-null  object
 2   상권_구분_코드_명      29700 non-null  object
 3   상권_코드           29700 non-null  int64
 4   상권_코드_명         29700 non-null  object
 5   상권_변화_지표        29700 non-null  object
 6   상권_변화_지표_명      29700 non-null  object
 7   운영_영업_개월_평균     29700 non-null  int64
 8   폐업_영업_개월_평균     29700 non-null  int64
 9   서울_운영_영업_개월_평균  29700 non-null  int64
 10  서울_폐업_영업_개월_평균  29700 non-null  int64
dtypes: int64(6), object(5)
memory usage: 2.5+ MB

### 결측값 확인

In [69]:
indicator.isnull().sum()

기준_년분기_코드         0
상권_구분_코드          0
상권_구분_코드_명        0
상권_코드             0
상권_코드_명           0
상권_변화_지표          0
상권_변화_지표_명        0
운영_영업_개월_평균       0
폐업_영업_개월_평균       0
서울_운영_영업_개월_평균    0
서울_폐업_영업_개월_평균    0
dtype: int64

### 기술통계량

In [70]:
indicator.describe()

,기준_년분기_코드,상권_코드,운영_영업_개월_평균,폐업_영업_개월_평균,서울_운영_영업_개월_평균,서울_폐업_영업_개월_평균
count,29700.000,29700.000,29700.000,29700.000,29700.000,29700.000
mean,20210.167,3115221.905,99.265,50.749,96.889,50.222
std,13.006,10318.704,23.018,8.408,3.943,1.083
min,20191.000,3001491.000,0.000,20.000,93.000,48.000
25%,20201.000,3110407.000,86.000,46.000,94.000,49.000
50%,20211.500,3110819.500,96.000,49.000,96.000,50.000
75%,20222.000,3120142.000,109.000,54.000,99.000,51.000
max,20232.000,3130327.000,309.000,123.000,106.000,52.000

### 0인 값 확인

In [71]:
col = list(indicator.columns)

for i in col:
    print(f'{i} : {len(indicator[indicator[i] == 0])}')

기준_년분기_코드 : 0
상권_구분_코드 : 0
상권_구분_코드_명 : 0
상권_코드 : 0
상권_코드_명 : 0
상권_변화_지표 : 0
상권_변화_지표_명 : 0
운영_영업_개월_평균 : 36
폐업_영업_개월_평균 : 0
서울_운영_영업_개월_평균 : 0
서울_폐업_영업_개월_평균 : 0

## 아파트

### 데이터 확인

In [72]:
apartment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22117 entries, 0 to 22116
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   기준_년분기_코드               22117 non-null  int64
 1   상권_구분_코드                22117 non-null  object
 2   상권_구분_코드_명              22117 non-null  object
 3   상권_코드                   22117 non-null  int64
 4   상권_코드_명                 22117 non-null  object
 5   아파트_단지_수                22117 non-null  int64
 6   아파트_면적_66_제곱미터_미만_세대_수  21579 non-null  float64
 7   아파트_면적_66_제곱미터_세대_수     20375 non-null  float64
 8   아파트_면적_99_제곱미터_세대_수     14043 non-null  float64
 9   아파트_면적_132_제곱미터_세대_수    7551 non-null   float64
 10  아파트_면적_165_제곱미터_세대_수    4652 non-null   float64
 11  아파트_가격_1_억_미만_세대_수      17927 non-null  float64
 12  아파트_가격_1_억_세대_수         20647 non-null  float64
 13  아파트_가격_2_억_세대_수         19800 non-null  float64
 14  아파트_가격_3_억_세대_수         14029 non-null  float64
 15  아파트_가격_4_억_세대_수         9061 non-null   float64
 16  아파트_가격_5_억_세대_수         6249 non-null   float64
 17  아파트_가격_6_억_이상_세대_수      5504 non-null   float64
 18  아파트_평균_면적               22117 non-null  int64
 19  아파트_평균_시가               22117 non-null  int64
dtypes: float64(12), int64(5), object(3)
memory usage: 3.4+ MB

### 결측값 확인

In [73]:
apartment.isnull().sum()

기준_년분기_코드                     0
상권_구분_코드                      0
상권_구분_코드_명                    0
상권_코드                         0
상권_코드_명                       0
아파트_단지_수                      0
아파트_면적_66_제곱미터_미만_세대_수      538
아파트_면적_66_제곱미터_세대_수        1742
아파트_면적_99_제곱미터_세대_수        8074
아파트_면적_132_제곱미터_세대_수      14566
아파트_면적_165_제곱미터_세대_수      17465
아파트_가격_1_억_미만_세대_수         4190
아파트_가격_1_억_세대_수            1470
아파트_가격_2_억_세대_수            2317
아파트_가격_3_억_세대_수            8088
아파트_가격_4_억_세대_수           13056
아파트_가격_5_억_세대_수           15868
아파트_가격_6_억_이상_세대_수        16613
아파트_평균_면적                     0
아파트_평균_시가                     0
dtype: int64

### 기술통계량

In [74]:
apartment.describe()

,기준_년분기_코드,상권_코드,아파트_단지_수,아파트_면적_66_제곱미터_미만_세대_수,아파트_면적_66_제곱미터_세대_수,아파트_면적_99_제곱미터_세대_수,아파트_면적_132_제곱미터_세대_수,아파트_면적_165_제곱미터_세대_수,아파트_가격_1_억_미만_세대_수,아파트_가격_1_억_세대_수,아파트_가격_2_억_세대_수,아파트_가격_3_억_세대_수,아파트_가격_4_억_세대_수,아파트_가격_5_억_세대_수,아파트_가격_6_억_이상_세대_수,아파트_평균_면적,아파트_평균_시가
count,22117.000,22117.000,22117.000,21579.000,20375.000,14043.000,7551.000,4652.000,17927.000,20647.000,19800.000,14029.000,9061.000,6249.000,5504.000,22117.000,22117.000
mean,20213.734,3114440.065,45.918,364.338,99.916,19.172,18.310,23.798,91.543,248.972,105.949,49.745,32.960,24.405,70.424,55.965,231266358.558
std,11.115,9229.994,59.183,459.414,129.397,35.723,49.397,52.064,152.883,343.456,151.446,78.558,52.209,39.000,133.007,20.361,200235871.665
min,20194.000,3001491.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,13.000,22819512.000
25%,20203.000,3110385.000,8.000,69.000,18.000,2.000,1.000,1.000,12.000,41.000,15.000,5.000,4.000,3.000,6.000,48.000,141161848.000
50%,20213.000,3110765.000,27.000,209.000,57.000,7.000,4.000,6.000,40.000,130.000,52.000,19.000,13.000,11.000,24.000,52.000,174152153.000
75%,20223.000,3120074.000,61.000,489.000,128.000,21.000,16.000,23.000,108.000,328.000,131.000,60.000,42.000,29.000,72.250,59.000,235297591.000
max,20232.000,3130326.000,725.000,5784.000,1242.000,518.000,837.000,720.000,1766.000,4572.000,1227.000,824.000,634.000,408.000,1234.000,234.000,2570164683.000

### 0인 값 확인

In [75]:
col = list(apartment.columns)

for i in col:
    print(f'{i} : {len(apartment[apartment[i] == 0])}')

기준_년분기_코드 : 0
상권_구분_코드 : 0
상권_구분_코드_명 : 0
상권_코드 : 0
상권_코드_명 : 0
아파트_단지_수 : 0
아파트_면적_66_제곱미터_미만_세대_수 : 0
아파트_면적_66_제곱미터_세대_수 : 0
아파트_면적_99_제곱미터_세대_수 : 0
아파트_면적_132_제곱미터_세대_수 : 0
아파트_면적_165_제곱미터_세대_수 : 0
아파트_가격_1_억_미만_세대_수 : 0
아파트_가격_1_억_세대_수 : 0
아파트_가격_2_억_세대_수 : 0
아파트_가격_3_억_세대_수 : 0
아파트_가격_4_억_세대_수 : 0
아파트_가격_5_억_세대_수 : 0
아파트_가격_6_억_이상_세대_수 : 0
아파트_평균_면적 : 0
아파트_평균_시가 : 0

## 소득소비

### 데이터 확인

In [76]:
income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29352 entries, 0 to 29351
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   기준_년분기_코드     29352 non-null  int64
 1   상권_구분_코드      29352 non-null  object
 2   상권_구분_코드_명    29352 non-null  object
 3   상권_코드         29352 non-null  int64
 4   상권_코드_명       29352 non-null  object
 5   월_평균_소득_금액    29196 non-null  float64
 6   소득_구간_코드      29196 non-null  float64
 7   지출_총금액        28728 non-null  float64
 8   식료품_지출_총금액    28728 non-null  float64
 9   의류_신발_지출_총금액  28728 non-null  float64
 10  생활용품_지출_총금액   28728 non-null  float64
 11  의료비_지출_총금액    28728 non-null  float64
 12  교통_지출_총금액     28728 non-null  float64
 13  여가_지출_총금액     28728 non-null  float64
 14  문화_지출_총금액     28728 non-null  float64
 15  교육_지출_총금액     28728 non-null  float64
 16  유흥_지출_총금액     28728 non-null  float64
dtypes: float64(12), int64(2), object(3)
memory usage: 3.8+ MB

### 결측값 확인

In [77]:
income.isnull().sum()

기준_년분기_코드         0
상권_구분_코드          0
상권_구분_코드_명        0
상권_코드             0
상권_코드_명           0
월_평균_소득_금액      156
소득_구간_코드        156
지출_총금액          624
식료품_지출_총금액      624
의류_신발_지출_총금액    624
생활용품_지출_총금액     624
의료비_지출_총금액      624
교통_지출_총금액       624
여가_지출_총금액       624
문화_지출_총금액       624
교육_지출_총금액       624
유흥_지출_총금액       624
dtype: int64

### 기술통계량

In [78]:
income.describe()

,기준_년분기_코드,상권_코드,월_평균_소득_금액,소득_구간_코드,지출_총금액,식료품_지출_총금액,의류_신발_지출_총금액,생활용품_지출_총금액,의료비_지출_총금액,교통_지출_총금액,여가_지출_총금액,문화_지출_총금액,교육_지출_총금액,유흥_지출_총금액
count,29352.000,29352.000,29196.000,29196.000,28728.000,28728.000,28728.000,28728.000,28728.000,28728.000,28728.000,28728.000,28728.000,28728.000
mean,20210.170,3115091.035,2814785.489,5.993,1274063500.184,328413715.550,156066552.823,95722531.076,161838922.852,208888922.365,49672751.506,39506906.659,179742538.658,54210658.695
std,13.004,10283.737,775144.207,1.146,1266315425.426,318036656.355,155430150.292,95770596.896,156572132.868,214495156.106,50670202.409,38843800.429,192502359.131,53976490.986
min,20191.000,3001491.000,649133.000,1.000,860610.000,365339.000,78895.000,62659.000,192382.000,58449.000,19735.000,29962.000,29291.000,23898.000
25%,20201.000,3110402.000,2349929.000,5.000,378684214.500,99067604.500,46189619.750,28275767.250,48932633.000,59103826.000,14406709.250,11677444.250,46505131.000,15961857.000
50%,20212.000,3110811.000,2588915.000,6.000,889081357.500,233489549.500,109335704.500,66585219.500,114816100.500,145452130.500,34706214.500,28076636.000,121460647.500,37539108.500
75%,20222.000,3120132.000,3027040.500,7.000,1738319884.000,452201036.000,212940425.500,131399023.750,221417252.000,281813879.750,67400142.750,54955950.250,244608280.750,74240007.500
max,20232.000,3130327.000,9293344.000,10.000,11860857850.000,2831710148.000,1422401809.000,836222917.000,1405356886.000,2085556200.000,468534099.000,344208853.000,2017890952.000,501382923.000

### 0인 값 확인

In [79]:
col = list(income.columns)

for i in col:
    print(f'{i} : {len(income[income[i] == 0])}')

기준_년분기_코드 : 0
상권_구분_코드 : 0
상권_구분_코드_명 : 0
상권_코드 : 0
상권_코드_명 : 0
월_평균_소득_금액 : 0
소득_구간_코드 : 0
지출_총금액 : 0
식료품_지출_총금액 : 0
의류_신발_지출_총금액 : 0
생활용품_지출_총금액 : 0
의료비_지출_총금액 : 0
교통_지출_총금액 : 0
여가_지출_총금액 : 0
문화_지출_총금액 : 0
교육_지출_총금액 : 0
유흥_지출_총금액 : 0

## 영역

### 데이터 확인

In [80]:
area.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1650 entries, 0 to 1649
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   상권_구분_코드    1650 non-null   object
 1   상권_구분_코드_명  1650 non-null   object
 2   상권_코드       1650 non-null   int64
 3   상권_코드_명     1650 non-null   object
 4   엑스좌표_값      1650 non-null   int64
 5   와이좌표_값      1650 non-null   int64
 6   자치구_코드      1650 non-null   int64
 7   자치구_코드_명    1650 non-null   object
 8   행정동_코드      1650 non-null   int64
 9   행정동_코드_명    1650 non-null   object
 10  영역_면적       1650 non-null   int64
dtypes: int64(6), object(5)
memory usage: 141.9+ KB

### 결측값 확인

In [81]:
area.isnull().sum()

상권_구분_코드      0
상권_구분_코드_명    0
상권_코드         0
상권_코드_명       0
엑스좌표_값        0
와이좌표_값        0
자치구_코드        0
자치구_코드_명      0
행정동_코드        0
행정동_코드_명      0
영역_면적         0
dtype: int64

### 기술통계량

In [82]:
area.describe()

            상권_코드     엑스좌표_값     와이좌표_값    자치구_코드       행정동_코드       영역_면적
count    1650.000   1650.000   1650.000  1650.000     1650.000    1650.000
mean  3115221.905 198981.845 449875.452 11426.218 11426858.585   99927.952
std     10321.659   7280.721   5590.503   190.534   190548.801  118818.943
min   3001491.000 182509.000 437249.000 11110.000 11110515.000    1854.000
25%   3110407.250 192815.250 445178.500 11260.000 11260575.000   35330.000
50%   3110819.500 200096.000 449849.500 11440.000 11440590.000   71927.500
75%   3120141.750 204366.250 453563.500 11590.000 11590560.000  128147.250
max   3130327.000 215352.000 465573.000 11740.000 11740700.000 2462734.000

### 0인 값 확인

In [83]:
col = list(area.columns)

for i in col:
    print(f'{i} : {len(area[area[i] == 0])}')

상권_구분_코드 : 0
상권_구분_코드_명 : 0
상권_코드 : 0
상권_코드_명 : 0
엑스좌표_값 : 0
와이좌표_값 : 0
자치구_코드 : 0
자치구_코드_명 : 0
행정동_코드 : 0
행정동_코드_명 : 0
영역_면적 : 0

## 집객시설

### 데이터 확인

In [84]:
facilitie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17358 entries, 0 to 17357
Data columns (total 25 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   기준_년분기_코드   17358 non-null  int64
 1   상권_구분_코드    17358 non-null  object
 2   상권_구분_코드_명  17358 non-null  object
 3   상권_코드       17358 non-null  int64
 4   상권_코드_명     17358 non-null  object
 5   집객시설_수      17358 non-null  int64
 6   관공서_수       6930 non-null   float64
 7   은행_수        5357 non-null   float64
 8   종합병원_수      253 non-null    float64
 9   일반_병원_수     1452 non-null   float64
 10  약국_수        11099 non-null  float64
 11  유치원_수       1661 non-null   float64
 12  초등학교_수      143 non-null    float64
 13  중학교_수       44 non-null     float64
 14  고등학교_수      121 non-null    float64
 15  대학교_수       924 non-null    float64
 16  백화점_수       121 non-null    float64
 17  슈퍼마켓_수      1155 non-null   float64
 18  극장_수        924 non-null    float64
 19  숙박_시설_수     1595 non-null   float64
 20  공항_수        11 non-null     float64
 21  철도_역_수      0 non-null      float64
 22  버스_터미널_수    22 non-null     float64
 23  지하철_역_수     2145 non-null   float64
 24  버스_정거장_수    13970 non-null  float64
dtypes: float64(19), int64(3), object(3)
memory usage: 3.3+ MB

### 결측값 확인

In [85]:
facilitie.isnull().sum()

기준_년분기_코드         0
상권_구분_코드          0
상권_구분_코드_명        0
상권_코드             0
상권_코드_명           0
집객시설_수            0
관공서_수         10428
은행_수          12001
종합병원_수        17105
일반_병원_수       15906
약국_수           6259
유치원_수         15697
초등학교_수        17215
중학교_수         17314
고등학교_수        17237
대학교_수         16434
백화점_수         17237
슈퍼마켓_수        16203
극장_수          16434
숙박_시설_수       15763
공항_수          17347
철도_역_수        17358
버스_터미널_수      17336
지하철_역_수       15213
버스_정거장_수       3388
dtype: int64

### 기술통계량

In [86]:
facilitie.describe()

,기준_년분기_코드,상권_코드,집객시설_수,관공서_수,은행_수,종합병원_수,일반_병원_수,약국_수,유치원_수,초등학교_수,중학교_수,고등학교_수,대학교_수,백화점_수,슈퍼마켓_수,극장_수,숙박_시설_수,공항_수,철도_역_수,버스_터미널_수,지하철_역_수,버스_정거장_수
count,17358.000,17358.000,17358.000,6930.000,5357.000,253.000,1452.000,11099.000,1661.000,143.000,44.000,121.000,924.000,121.000,1155.000,924.000,1595.000,11.000,0.000,22.000,2145.000,13970.000
mean,20218.818,3115009.244,20.871,1.741,3.287,1.043,1.280,3.690,1.166,1.000,1.000,1.182,1.643,1.091,1.533,1.357,2.317,4.000,NaN,1.000,1.421,4.841
std,8.343,10293.752,32.261,1.272,4.677,0.204,0.607,4.532,0.569,0.000,0.000,0.577,1.232,0.289,1.220,0.766,2.570,0.000,NaN,0.000,0.743,5.097
min,20204.000,3001491.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,4.000,NaN,1.000,1.000,1.000
25%,20212.000,3110400.000,5.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,4.000,NaN,1.000,1.000,2.000
50%,20221.000,3110802.500,12.000,1.000,2.000,1.000,1.000,2.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,4.000,NaN,1.000,1.000,3.000
75%,20224.000,3120126.000,23.000,2.000,4.000,1.000,1.000,4.000,1.000,1.000,1.000,1.000,2.000,1.000,2.000,1.000,2.000,4.000,NaN,1.000,2.000,6.000
max,20232.000,3130327.000,594.000,14.000,57.000,2.000,4.000,52.000,6.000,1.000,1.000,3.000,7.000,2.000,8.000,5.000,18.000,4.000,NaN,1.000,5.000,85.000

### 0인 값 확인

In [87]:
col = list(facilitie.columns)

for i in col:
    print(f'{i} : {len(facilitie[facilitie[i] == 0])}')

기준_년분기_코드 : 0
상권_구분_코드 : 0
상권_구분_코드_명 : 0
상권_코드 : 0
상권_코드_명 : 0
집객시설_수 : 0
관공서_수 : 0
은행_수 : 0
종합병원_수 : 0
일반_병원_수 : 0
약국_수 : 0
유치원_수 : 0
초등학교_수 : 0
중학교_수 : 0
고등학교_수 : 0
대학교_수 : 0
백화점_수 : 0
슈퍼마켓_수 : 0
극장_수 : 0
숙박_시설_수 : 0
공항_수 : 0
철도_역_수 : 0
버스_터미널_수 : 0
지하철_역_수 : 0
버스_정거장_수 : 0

## 직장인구

### 데이터 확인

In [88]:
working_popul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25989 entries, 0 to 25988
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   기준_년분기_코드            25989 non-null  int64
 1   상권_구분_코드             25989 non-null  object
 2   상권_구분_코드_명           25989 non-null  object
 3   상권_코드                25989 non-null  int64
 4   상권_코드_명              25989 non-null  object
 5   총_직장_인구_수            25989 non-null  int64
 6   남성_직장_인구_수           25989 non-null  int64
 7   여성_직장_인구_수           25989 non-null  int64
 8   연령대_10_직장_인구_수       25989 non-null  int64
 9   연령대_20_직장_인구_수       25989 non-null  int64
 10  연령대_30_직장_인구_수       25989 non-null  int64
 11  연령대_40_직장_인구_수       25989 non-null  int64
 12  연령대_50_직장_인구_수       25989 non-null  int64
 13  연령대_60_이상_직장_인구_수    25989 non-null  int64
 14  남성연령대_10_직장_인구_수     25989 non-null  int64
 15  남성연령대_20_직장_인구_수     25989 non-null  int64
 16  남성연령대_30_직장_인구_수     25989 non-null  int64
 17  남성연령대_40_직장_인구_수     25989 non-null  int64
 18  남성연령대_50_직장_인구_수     25989 non-null  int64
 19  남성연령대_60_이상_직장_인구_수  25989 non-null  int64
 20  여성연령대_10_직장_인구_수     25989 non-null  int64
 21  여성연령대_20_직장_인구_수     25989 non-null  int64
 22  여성연령대_30_직장_인구_수     25989 non-null  int64
 23  여성연령대_40_직장_인구_수     25989 non-null  int64
 24  여성연령대_50_직장_인구_수     25989 non-null  int64
 25  여성연령대_60_이상_직장_인구_수  25989 non-null  int64
dtypes: int64(23), object(3)
memory usage: 5.2+ MB

### 결측값 확인

In [89]:
working_popul.isnull().sum()

기준_년분기_코드              0
상권_구분_코드               0
상권_구분_코드_명             0
상권_코드                  0
상권_코드_명                0
총_직장_인구_수              0
남성_직장_인구_수             0
여성_직장_인구_수             0
연령대_10_직장_인구_수         0
연령대_20_직장_인구_수         0
연령대_30_직장_인구_수         0
연령대_40_직장_인구_수         0
연령대_50_직장_인구_수         0
연령대_60_이상_직장_인구_수      0
남성연령대_10_직장_인구_수       0
남성연령대_20_직장_인구_수       0
남성연령대_30_직장_인구_수       0
남성연령대_40_직장_인구_수       0
남성연령대_50_직장_인구_수       0
남성연령대_60_이상_직장_인구_수    0
여성연령대_10_직장_인구_수       0
여성연령대_20_직장_인구_수       0
여성연령대_30_직장_인구_수       0
여성연령대_40_직장_인구_수       0
여성연령대_50_직장_인구_수       0
여성연령대_60_이상_직장_인구_수    0
dtype: int64

### 기술통계량

In [90]:
working_popul.describe()

,기준_년분기_코드,상권_코드,총_직장_인구_수,남성_직장_인구_수,여성_직장_인구_수,연령대_10_직장_인구_수,연령대_20_직장_인구_수,연령대_30_직장_인구_수,연령대_40_직장_인구_수,연령대_50_직장_인구_수,연령대_60_이상_직장_인구_수,남성연령대_10_직장_인구_수,남성연령대_20_직장_인구_수,남성연령대_30_직장_인구_수,남성연령대_40_직장_인구_수,남성연령대_50_직장_인구_수,남성연령대_60_이상_직장_인구_수,여성연령대_10_직장_인구_수,여성연령대_20_직장_인구_수,여성연령대_30_직장_인구_수,여성연령대_40_직장_인구_수,여성연령대_50_직장_인구_수,여성연령대_60_이상_직장_인구_수
count,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000
mean,20212.358,3115048.981,1811.118,1060.121,750.997,7.858,344.907,506.540,443.660,327.295,180.859,3.362,150.044,296.656,283.567,205.259,121.233,4.495,194.863,209.884,160.092,122.036,59.626
std,12.108,10261.375,6487.464,3801.180,2787.647,44.467,1425.882,2053.807,1647.218,1066.792,468.387,19.451,603.798,1199.913,1096.211,699.621,308.133,25.992,853.122,890.728,586.563,434.896,178.393
min,20191.000,3001491.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
25%,20202.000,3110403.000,111.000,55.000,44.000,0.000,11.000,20.000,27.000,25.000,17.000,0.000,4.000,10.000,14.000,13.000,10.000,0.000,5.000,8.000,11.000,10.000,4.000
50%,20212.000,3110810.000,321.000,177.000,130.000,0.000,35.000,58.000,75.000,75.000,48.000,0.000,14.000,31.000,42.000,41.000,32.000,0.000,20.000,25.000,32.000,30.000,14.000
75%,20222.000,3120128.000,894.000,528.000,351.000,3.000,126.000,200.000,210.000,196.000,136.000,1.000,55.000,117.000,129.000,118.000,97.000,1.000,64.000,80.000,82.000,71.000,40.000
max,20232.000,3130327.000,174313.000,85786.000,92086.000,1365.000,43472.000,57809.000,42869.000,23136.000,9357.000,604.000,14967.000,28790.000,24162.000,16294.000,6577.000,762.000,29698.000,32760.000,19197.000,10550.000,3412.000

### 0인 값 확인

In [91]:
col = list(working_popul.columns)

for i in col:
    print(f'{i} : {len(working_popul[working_popul[i] == 0])}')

기준_년분기_코드 : 0
상권_구분_코드 : 0
상권_구분_코드_명 : 0
상권_코드 : 0
상권_코드_명 : 0
총_직장_인구_수 : 0
남성_직장_인구_수 : 60
여성_직장_인구_수 : 45
연령대_10_직장_인구_수 : 13642
연령대_20_직장_인구_수 : 959
연령대_30_직장_인구_수 : 337
연령대_40_직장_인구_수 : 198
연령대_50_직장_인구_수 : 166
연령대_60_이상_직장_인구_수 : 476
남성연령대_10_직장_인구_수 : 16761
남성연령대_20_직장_인구_수 : 2281
남성연령대_30_직장_인구_수 : 922
남성연령대_40_직장_인구_수 : 496
남성연령대_50_직장_인구_수 : 384
남성연령대_60_이상_직장_인구_수 : 636
여성연령대_10_직장_인구_수 : 16797
여성연령대_20_직장_인구_수 : 1695
여성연령대_30_직장_인구_수 : 1063
여성연령대_40_직장_인구_수 : 608
여성연령대_50_직장_인구_수 : 606
여성연령대_60_이상_직장_인구_수 : 1433

## 점포

### 데이터 확인

In [92]:
store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 14 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   기준_년분기_코드    1048575 non-null  int64
 1   상권_구분_코드     1048575 non-null  object
 2   상권_구분_코드_명   1048575 non-null  object
 3   상권_코드        1048575 non-null  int64
 4   상권_코드_명      1048575 non-null  object
 5   서비스_업종_코드    1048575 non-null  object
 6   서비스_업종_코드_명  1048575 non-null  object
 7   점포_수         1048575 non-null  int64
 8   유사_업종_점포_수   1048575 non-null  int64
 9   개업_율         1048575 non-null  int64
 10  개업_점포_수      1048575 non-null  int64
 11  폐업_률         1048575 non-null  int64
 12  폐업_점포_수      1048575 non-null  int64
 13  프랜차이즈_점포_수   1048575 non-null  int64
dtypes: int64(9), object(5)
memory usage: 112.0+ MB

### 결측값 확인

In [93]:
store.isnull().sum()

기준_년분기_코드      0
상권_구분_코드       0
상권_구분_코드_명     0
상권_코드          0
상권_코드_명        0
서비스_업종_코드      0
서비스_업종_코드_명    0
점포_수           0
유사_업종_점포_수     0
개업_율           0
개업_점포_수        0
폐업_률           0
폐업_점포_수        0
프랜차이즈_점포_수     0
dtype: int64

### 기술통계량

In [94]:
store.describe()

,기준_년분기_코드,상권_코드,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
count,1048575.000,1048575.000,1048575.000,1048575.000,1048575.000,1048575.000,1048575.000,1048575.000,1048575.000
mean,20205.179,3114893.322,5.971,6.445,3.006,0.206,2.257,0.159,0.474
std,10.063,11808.896,46.531,46.911,12.419,1.348,12.201,1.288,2.329
min,20191.000,3001491.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
25%,20194.000,3110438.000,1.000,1.000,0.000,0.000,0.000,0.000,0.000
50%,20204.000,3110874.000,2.000,2.000,0.000,0.000,0.000,0.000,0.000
75%,20213.000,3120143.000,4.000,5.000,0.000,0.000,0.000,0.000,0.000
max,20222.000,3130327.000,10249.000,10268.000,200.000,479.000,4800.000,421.000,126.000

### 0인 값 확인

In [95]:
col = list(store.columns)

for i in col:
    print(f'{i} : {len(store[store[i] == 0])}')

기준_년분기_코드 : 0
상권_구분_코드 : 0
상권_구분_코드_명 : 0
상권_코드 : 0
상권_코드_명 : 0
서비스_업종_코드 : 0
서비스_업종_코드_명 : 0
점포_수 : 40309
유사_업종_점포_수 : 7340
개업_율 : 920770
개업_점포_수 : 920597
폐업_률 : 948860
폐업_점포_수 : 941654
프랜차이즈_점포_수 : 884251

## 추정매출

### 데이터 확인

In [96]:
estimated_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204097 entries, 0 to 204096
Data columns (total 55 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   기준_년분기_코드        204097 non-null  int64
 1   상권_구분_코드         204097 non-null  object
 2   상권_구분_코드_명       204097 non-null  object
 3   상권_코드            204097 non-null  int64
 4   상권_코드_명          204097 non-null  object
 5   서비스_업종_코드        204097 non-null  object
 6   서비스_업종_코드_명      204097 non-null  object
 7   당월_매출_금액         204097 non-null  float64
 8   당월_매출_건수         204097 non-null  int64
 9   주중_매출_금액         204097 non-null  float64
 10  주말_매출_금액         204097 non-null  float64
 11  월요일_매출_금액        204097 non-null  float64
 12  화요일_매출_금액        204097 non-null  float64
 13  수요일_매출_금액        204097 non-null  float64
 14  목요일_매출_금액        204097 non-null  float64
 15  금요일_매출_금액        204097 non-null  float64
 16  토요일_매출_금액        204097 non-null  float64
 17  일요일_매출_금액        204097 non-null  float64
 18  시간대_00~06_매출_금액  204097 non-null  float64
 19  시간대_06~11_매출_금액  204097 non-null  float64
 20  시간대_11~14_매출_금액  204097 non-null  float64
 21  시간대_14~17_매출_금액  204097 non-null  float64
 22  시간대_17~21_매출_금액  204097 non-null  float64
 23  시간대_21~24_매출_금액  204097 non-null  int64
 24  남성_매출_금액         204097 non-null  float64
 25  여성_매출_금액         204097 non-null  float64
 26  연령대_10_매출_금액     204097 non-null  int64
 27  연령대_20_매출_금액     204097 non-null  int64
 28  연령대_30_매출_금액     204097 non-null  float64
 29  연령대_40_매출_금액     204097 non-null  float64
 30  연령대_50_매출_금액     204097 non-null  float64
 31  연령대_60_이상_매출_금액  204097 non-null  float64
 32  주중_매출_건수         204097 non-null  int64
 33  주말_매출_건수         204097 non-null  int64
 34  월요일_매출_건수        204097 non-null  int64
 35  화요일_매출_건수        204097 non-null  int64
 36  수요일_매출_건수        204097 non-null  int64
 37  목요일_매출_건수        204097 non-null  int64
 38  금요일_매출_건수        204097 non-null  int64
 39  토요일_매출_건수        204097 non-null  int64
 40  일요일_매출_건수        204097 non-null  int64
 41  시간대_건수~06_매출_건수  204097 non-null  int64
 42  시간대_건수~11_매출_건수  204097 non-null  int64
 43  시간대_건수~14_매출_건수  204097 non-null  int64
 44  시간대_건수~17_매출_건수  204097 non-null  int64
 45  시간대_건수~21_매출_건수  204097 non-null  int64
 46  시간대_건수~24_매출_건수  204097 non-null  int64
 47  남성_매출_건수         204097 non-null  int64
 48  여성_매출_건수         204097 non-null  int64
 49  연령대_10_매출_건수     204097 non-null  int64
 50  연령대_20_매출_건수     204097 non-null  int64
 51  연령대_30_매출_건수     204097 non-null  int64
 52  연령대_40_매출_건수     204097 non-null  int64
 53  연령대_50_매출_건수     204097 non-null  int64
 54  연령대_60_이상_매출_건수  204097 non-null  int64
dtypes: float64(21), int64(29), object(5)
memory usage: 85.6+ MB

### 결측값 확인

In [97]:
estimated_sales.isnull().sum()

기준_년분기_코드          0
상권_구분_코드           0
상권_구분_코드_명         0
상권_코드              0
상권_코드_명            0
서비스_업종_코드          0
서비스_업종_코드_명        0
당월_매출_금액           0
당월_매출_건수           0
주중_매출_금액           0
주말_매출_금액           0
월요일_매출_금액          0
화요일_매출_금액          0
수요일_매출_금액          0
목요일_매출_금액          0
금요일_매출_금액          0
토요일_매출_금액          0
일요일_매출_금액          0
시간대_00~06_매출_금액    0
시간대_06~11_매출_금액    0
시간대_11~14_매출_금액    0
시간대_14~17_매출_금액    0
시간대_17~21_매출_금액    0
시간대_21~24_매출_금액    0
남성_매출_금액           0
여성_매출_금액           0
연령대_10_매출_금액       0
연령대_20_매출_금액       0
연령대_30_매출_금액       0
연령대_40_매출_금액       0
연령대_50_매출_금액       0
연령대_60_이상_매출_금액    0
주중_매출_건수           0
주말_매출_건수           0
월요일_매출_건수          0
화요일_매출_건수          0
수요일_매출_건수          0
목요일_매출_건수          0
금요일_매출_건수          0
토요일_매출_건수          0
일요일_매출_건수          0
시간대_건수~06_매출_건수    0
시간대_건수~11_매출_건수    0
시간대_건수~14_매출_건수    0
시간대_건수~17_매출_건수    0
시간대_건수~21_매출_건수    0
시간대_건수~24_매출_건수    0
남성_매출_건수           0
여성_매출_건수           0
연령대_10_매출_건수       0
연령대_20_매출_건수       0
연령대_30_매출_건수       0
연령대_40_매출_건수       0
연령대_50_매출_건수       0
연령대_60_이상_매출_건수    0
dtype: int64

### 기술통계량

In [98]:
estimated_sales.describe()

,기준_년분기_코드,상권_코드,당월_매출_금액,당월_매출_건수,주중_매출_금액,주말_매출_금액,월요일_매출_금액,화요일_매출_금액,수요일_매출_금액,목요일_매출_금액,금요일_매출_금액,토요일_매출_금액,일요일_매출_금액,시간대_00~06_매출_금액,시간대_06~11_매출_금액,시간대_11~14_매출_금액,시간대_14~17_매출_금액,시간대_17~21_매출_금액,시간대_21~24_매출_금액,남성_매출_금액,여성_매출_금액,연령대_10_매출_금액,연령대_20_매출_금액,연령대_30_매출_금액,연령대_40_매출_금액,연령대_50_매출_금액,연령대_60_이상_매출_금액,주중_매출_건수,주말_매출_건수,월요일_매출_건수,화요일_매출_건수,수요일_매출_건수,목요일_매출_건수,금요일_매출_건수,토요일_매출_건수,일요일_매출_건수,시간대_건수~06_매출_건수,시간대_건수~11_매출_건수,시간대_건수~14_매출_건수,시간대_건수~17_매출_건수,시간대_건수~21_매출_건수,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수
count,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000
mean,20212.840,3115485.282,1021418669.565,36141.356,768246389.588,253172259.434,146631427.710,151940653.784,149484545.928,151922155.134,168267599.937,154792351.608,98379931.238,31874476.048,105073024.951,255681354.284,262348402.191,284426423.925,82014975.291,461248423.375,445257425.089,5802746.913,134124586.728,189689903.226,214471866.961,196864290.737,165552066.737,27089.777,9051.579,5312.330,5338.128,5304.351,5379.669,5755.299,5230.939,3820.640,1386.435,4824.068,9095.165,7655.083,9850.515,3330.090,17796.251,16862.205,631.205,8318.685,8273.928,6899.460,5913.838,4621.333
std,16.430,14515.864,9306141670.670,162093.699,6547403471.378,3317885822.540,1262005341.983,1291626785.793,1313965669.388,1303535151.925,1448820486.855,1900209886.216,1446482768.414,586988402.658,1166138608.116,2389866351.743,3260909439.403,2677464939.216,429459595.187,4469476882.361,3457516147.719,37390178.766,948386337.925,1708849233.148,2052674204.777,1837976996.154,1681023406.664,115792.312,53679.680,23006.818,23105.674,22668.572,22960.808,24622.843,29650.330,24407.606,10906.626,28278.970,43085.919,42099.020,45485.973,14676.458,79462.443,81591.575,10872.538,48861.079,38551.428,31032.064,26403.652,29048.657
min,20191.000,3001491.000,12.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,-1.000,0.000,-1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
25%,20193.000,3110551.000,44643346.000,821.000,32949846.000,7045454.000,4981520.000,5271998.000,5497800.000,5498405.000,6065123.000,4519715.000,0.000,0.000,62374.000,4833248.000,6930505.000,11062761.000,0.000,18007101.000,16584238.000,0.000,1486797.000,4808313.000,7731945.000,7382450.000,3298714.000,614.000,149.000,107.000,112.000,114.000,116.000,127.000,101.000,0.000,0.000,5.000,97.000,156.000,220.000,0.000,373.000,321.000,0.000,47.000,115.000,169.000,153.000,79.000
50%,20222.000,3111090.000,172566811.000,4379.000,128049248.000,35837517.000,22742284.000,23635258.000,23719742.000,23908092.000,26394617.000,22885372.000,8162372.000,0.000,5302978.000,31013441.000,32657120.000,47316500.000,3841331.000,77079630.000,69471730.000,182992.000,12680743.000,25498593.000,34639748.000,31871464.000,17426474.000,3212.000,993.000,601.000,619.000,633.000,635.000,704.000,645.000,242.000,0.000,146.000,900.000,915.000,1258.000,78.000,2128.000,1859.000,14.000,476.000,765.000,887.000,840.000,495.000
75%,20224.000,3120186.000,620469204.000,23423.000,469879556.000,138605252.000,88627271.000,90948708.000,89860678.000,90783118.000,99503254.000,87736868.000,46088283.000,2550746.000,42399479.000,136617300.000,129937944.000,172661517.000,39117526.000,283932057.000,264425230.000,2301409.000,64503303.000,105906624.000,126492381.000,117257228.000,79113407.000,17481.000,5467.000,3397.000,3425.000,3415.000,3448.000,3750.000,3328.000,1962.000,70.000,1738.000,5733.000,4809.000,6653.000,1251.000,11052.000,10655.000,183.000,3493.000,4519.000,4524.000,4157.000,2777.000
max,20232.000,3130327.000,1092340000000.000,13712109.000,858334000000.000,485357000000.000,156366000000.000,164982000000.000,186594000000.000,191168000000.000,173259000000.000,297300000000.000,188057000000.000,102708000000.000,118903000000.000,280539000000.000,479066000000.000,386343000000.000,33921517889.000,537243000000.000,304162000000.000,5243184142.000,91839508212.000,185968000000.000,285340000000.000,190992000000.000,238248000000.000,11745700.000,6262410.000,2701966.000,2549509.000,2343103.000,2221561.000,2113695.000,3785070.000,2477340.000,1111188.000,3183962.000,3405275.000,3439449.000,4287338.000,1221309.000,6708993.000,8458228.000,2786643.000,6843441.000,2843144.000,2528841.000,2297953.000,3188920.000

### 0인 값 확인

In [99]:
col = list(estimated_sales.columns)

for i in col:
    print(f'{i} : {len(estimated_sales[estimated_sales[i] == 0])}')

기준_년분기_코드 : 0
상권_구분_코드 : 0
상권_구분_코드_명 : 0
상권_코드 : 0
상권_코드_명 : 0
서비스_업종_코드 : 0
서비스_업종_코드_명 : 0
당월_매출_금액 : 0
당월_매출_건수 : 0
주중_매출_금액 : 887
주말_매출_금액 : 16785
월요일_매출_금액 : 12689
화요일_매출_금액 : 11846
수요일_매출_금액 : 11532
목요일_매출_금액 : 11199
금요일_매출_금액 : 10539
토요일_매출_금액 : 19263
일요일_매출_금액 : 54704
시간대_00~06_매출_금액 : 135168
시간대_06~11_매출_금액 : 49578
시간대_11~14_매출_금액 : 20000
시간대_14~17_매출_금액 : 11010
시간대_17~21_매출_금액 : 8460
시간대_21~24_매출_금액 : 66353
남성_매출_금액 : 5568
여성_매출_금액 : 4394
연령대_10_매출_금액 : 86900
연령대_20_매출_금액 : 29263
연령대_30_매출_금액 : 15927
연령대_40_매출_금액 : 10409
연령대_50_매출_금액 : 11253
연령대_60_이상_매출_금액 : 19061
주중_매출_건수 : 885
주말_매출_건수 : 16737
월요일_매출_건수 : 12658
화요일_매출_건수 : 11804
수요일_매출_건수 : 11485
목요일_매출_건수 : 11155
금요일_매출_건수 : 10503
토요일_매출_건수 : 19207
일요일_매출_건수 : 54659
시간대_건수~06_매출_건수 : 135169
시간대_건수~11_매출_건수 : 49542
시간대_건수~14_매출_건수 : 19975
시간대_건수~17_매출_건수 : 10983
시간대_건수~21_매출_건수 : 8436
시간대_건수~24_매출_건수 : 66276
남성_매출_건수 : 5552
여성_매출_건수 : 4375
연령대_10_매출_건수 : 86933
연령대_20_매출_건수 : 29213
연령대_30_매출_건수 : 15881
연령대_40_매출_건수 : 10379
연령대_50_매출_건수 : 11213
연령대_60_이상_매출_건수 : 19018