### 길단위 인구
- 월+화+수+목+금 -> 평일, 토+일 -> 주말
- 06-17 -> 낮, 17-06 밤
- 상권_구분_코드, 상권_구분_코드_명, 상권_코드 필요없을 듯

In [2]:
import pandas as pd
df1 = pd.read_csv('서울시 상권분석서비스(오탈자 수정)/서울시 상권분석서비스(길단위인구-상권).csv',encoding='cp949')
df1.head()

,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,총_유동인구_수,남성_유동인구_수,여성_유동인구_수,연령대_10_유동인구_수,연령대_20_유동인구_수,...,시간대_14_17_유동인구_수,시간대_17_21_유동인구_수,시간대_21_24_유동인구_수,월요일_유동인구_수,화요일_유동인구_수,수요일_유동인구_수,목요일_유동인구_수,금요일_유동인구_수,토요일_유동인구_수,일요일_유동인구_수
0,20232,U,관광특구,3001496,강남 마이스 관광특구,111108,55410,55701,8166,22991,...,27393,23286,6089,14719,16219,17924,18904,18166,13814,11365
1,20232,U,관광특구,3001495,잠실 관광특구,4116726,1990065,2126663,435009,892236,...,664699,892447,470235,573616,573593,580418,591168,606887,622115,568929
2,20232,U,관광특구,3001494,종로·청계 관광특구,8580607,4570612,4009996,322394,1490540,...,1823148,1715164,666997,1305495,1351576,1393885,1401446,1371576,998401,758227
3,20232,U,관광특구,3001493,동대문패션타운 관광특구,3408217,1607340,1800878,188050,599556,...,509141,588415,413828,527152,537106,543815,546958,506829,373125,373231
4,20232,U,관광특구,3001492,명동 남대문 북창동 다동 무교동 관광특구,7258225,3500135,3758090,304018,1221932,...,1785956,1355004,361685,1104058,1189462,1242379,1237291,1174209,733393,577432

In [3]:
df1.columns

Index(['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '총_유동인구_수',
       '남성_유동인구_수', '여성_유동인구_수', '연령대_10_유동인구_수', '연령대_20_유동인구_수',
       '연령대_30_유동인구_수', '연령대_40_유동인구_수', '연령대_50_유동인구_수', '연령대_60_이상_유동인구_수',
       '시간대_00_06_유동인구_수', '시간대_06_11_유동인구_수', '시간대_11_14_유동인구_수',
       '시간대_14_17_유동인구_수', '시간대_17_21_유동인구_수', '시간대_21_24_유동인구_수',
       '월요일_유동인구_수', '화요일_유동인구_수', '수요일_유동인구_수', '목요일_유동인구_수', '금요일_유동인구_수',
       '토요일_유동인구_수', '일요일_유동인구_수'],
      dtype='object')

### 상권변화지표
- 이 테이블로 알 수 있는 정보가 없는 것 같음. 안써도 될 듯
- 상권_구분_코드, 상권_구분_코드_명, 상권_코드, 상권변화지표 ->제거

In [4]:
df2 = pd.read_csv('서울시 상권분석서비스(오탈자 수정)/서울시 상권분석서비스(상권변화지표-상권).csv',encoding='cp949')
df2.head()

,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,상권_변화_지표,상권_변화_지표_명,운영_영업_개월_평균,폐업_영업_개월_평균,서울_운영_영업_개월_평균,서울_폐업_영업_개월_평균
0,20231,A,골목상권,3110186,종암초등학교,HH,정체,114,67,104,52
1,20231,A,골목상권,3110362,우이천 계성교,LL,다이나믹,74,49,104,52
2,20231,A,골목상권,3110386,연산군묘,LL,다이나믹,94,39,104,52
3,20231,A,골목상권,3110020,서울국제고등학교,HL,상권축소,105,48,104,52
4,20231,A,골목상권,3110902,사당역 4번,LH,상권확장,99,53,104,52

### 상주인구수
- 상권구분코드, 상권구분코드명, 상권코드, 아파트가구수, 비아파트 가구수 -> 제거
- 성별 별 나이대 인구 수가 필요할까..?

In [16]:
df3 = pd.read_csv('서울시 상권분석서비스(오탈자 수정)/서울시 상권분석서비스(상주인구-상권).csv',encoding='cp949')
df3.head()

,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,총_상주인구_수,남성_상주인구_수,여성_상주인구_수,연령대_10_상주인구_수,연령대_20_상주인구_수,...,남성연령대_60_이상_상주인구_수,여성연령대_10_상주인구_수,여성연령대_20_상주인구_수,여성연령대_30_상주인구_수,여성연령대_40_상주인구_수,여성연령대_50_상주인구_수,여성연령대_60_이상_상주인구_수,총_가구_수,아파트_가구_수,비_아파트_가구_수
0,20194,D,발달상권,3120021,시청역_8번,26,16,10,0,2,...,10,0,0,2,0,2,6,15,0,15
1,20194,D,발달상권,3120022,북창동(시청역_6번),261,167,94,2,21,...,70,2,10,9,7,23,43,237,0,237
2,20194,D,발달상권,3120023,서울시청,19,10,9,2,0,...,6,2,0,0,1,3,3,14,0,14
3,20194,D,발달상권,3120024,회현역,1740,902,838,100,136,...,424,56,72,74,91,127,418,1172,0,1172
4,20194,D,발달상권,3120025,롯데백화점(시청광장 지하쇼핑센터),1,1,0,0,0,...,1,0,0,0,0,0,0,1,0,1

In [18]:
df3.columns

Index(['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '총_상주인구_수',
       '남성_상주인구_수', '여성_상주인구_수', '연령대_10_상주인구_수', '연령대_20_상주인구_수',
       '연령대_30_상주인구_수', '연령대_40_상주인구_수', '연령대_50_상주인구_수', '연령대_60_이상_상주인구_수',
       '남성연령대_10_상주인구_수', '남성연령대_20_상주인구_수', '남성연령대_30_상주인구_수',
       '남성연령대_40_상주인구_수', '남성연령대_50_상주인구_수', '남성연령대_60_이상_상주인구_수',
       '여성연령대_10_상주인구_수', '여성연령대_20_상주인구_수', '여성연령대_30_상주인구_수',
       '여성연령대_40_상주인구_수', '여성연령대_50_상주인구_수', '여성연령대_60_이상_상주인구_수', '총_가구_수',
       '아파트_가구_수', '비_아파트_가구_수'],
      dtype='object')

### 소득소비
- 상권구분코드, 상권구분코드명, 상권코드 -> 제거
- 지출 금액 -> 중요한 feature

In [20]:
df4 = pd.read_csv('서울시 상권분석서비스(오탈자 수정)/서울시 상권분석서비스(소득소비-상권).csv',encoding='cp949')
df4.head()

,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,월_평균_소득_금액,소득_구간_코드,지출_총금액,식료품_지출_총금액,의류_신발_지출_총금액,생활용품_지출_총금액,의료비_지출_총금액,교통_지출_총금액,여가_지출_총금액,문화_지출_총금액,교육_지출_총금액,유흥_지출_총금액
0,20231,A,골목상권,3110005,세검정,3768541.0,8.0,8.847016e+08,221446948.0,109882417.0,64738346.0,111988892.0,149822911.0,37478670.0,25606895.0,126544371.0,37192149.0
1,20231,A,골목상권,3110006,부암동주민센터,3963935.0,8.0,2.671774e+08,71242932.0,32618743.0,19192280.0,36992515.0,42702682.0,11024632.0,7714004.0,34834591.0,10854984.0
2,20231,A,골목상권,3110648,양천향교역 7번,3402010.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20231,A,골목상권,3111090,강일동주민센터,2810845.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20231,D,발달상권,3120106,마포역,4775524.0,8.0,1.235066e+09,313433453.0,153785396.0,101704583.0,152797065.0,199377966.0,60828402.0,38716680.0,165765532.0,48657213.0

### 아파트
- 면적, 금액별 세대 수 -> 제거
- 상권_구분_코드, 상권_구분_코드_명, 상권_코드 -> 제거

In [21]:
df5 = pd.read_csv('서울시 상권분석서비스(오탈자 수정)/서울시 상권분석서비스(아파트-상권).csv',encoding='cp949')
df5.head()

,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,아파트_단지_수,아파트_면적_66_제곱미터_미만_세대_수,아파트_면적_66_제곱미터_세대_수,아파트_면적_99_제곱미터_세대_수,아파트_면적_132_제곱미터_세대_수,아파트_면적_165_제곱미터_세대_수,아파트_가격_1_억_미만_세대_수,아파트_가격_1_억_세대_수,아파트_가격_2_억_세대_수,아파트_가격_3_억_세대_수,아파트_가격_4_억_세대_수,아파트_가격_5_억_세대_수,아파트_가격_6_억_이상_세대_수,아파트_평균_면적,아파트_평균_시가
0,20232,A,골목상권,3110025,충신시장옆,1,12.0,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN,NaN,NaN,22,121500000
1,20232,A,골목상권,3110184,용두사거리,1,12.0,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,15,73266667
2,20232,A,골목상권,3110017,정독도서관,10,15.0,15.0,1.0,NaN,22.0,6.0,10.0,8.0,7.0,NaN,NaN,22.0,164,1153964394
3,20232,A,골목상권,3110584,아현역 4번,1,2.0,1.0,NaN,NaN,NaN,NaN,NaN,2.0,1.0,NaN,NaN,NaN,63,272666667
4,20232,A,골목상권,3110401,도봉구민회관,19,183.0,2.0,NaN,NaN,NaN,130.0,55.0,NaN,NaN,NaN,NaN,NaN,43,97137276

### 영역 
- 임대료와 연결시킬 수 있는 컬럼을 여기에서 찾아야 될 듯

In [22]:
df6 = pd.read_csv('서울시 상권분석서비스(오탈자 수정)/서울시 상권분석서비스(영역-상권).csv',encoding='cp949')
df6.head()

,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,엑스좌표_값,와이좌표_값,자치구_코드,자치구_코드_명,행정동_코드,행정동_코드_명,영역_면적
0,A,골목상권,3110008,배화여자대학교(박노수미술관),197093,453418,11110,종로구,11110515,청운효자동,149264
1,A,골목상권,3110009,자하문터널,196991,455057,11110,종로구,11110550,부암동,178306
2,A,골목상권,3110010,평창동서측,197064,456643,11110,종로구,11110560,평창동,369415
3,A,골목상권,3110017,정독도서관,198581,453781,11110,종로구,11110600,가회동,83855
4,A,골목상권,3110018,중앙고등학교,198883,453690,11110,종로구,11110600,가회동,166872

### 점포
- Unnamed: 0, 기준_년분기_코드, 상권_구분_코드, 상권_구분_코드_명, 서비스업종코드 -> 제거
- 서비스업종코드명

In [24]:
df7 = pd.read_csv('서울시 상권분석서비스(오탈자 수정)/서울시 상권분석서비스(점포-상권).csv',encoding='cp949')
df7.head()

,Unnamed: 0,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
0,0,20191,R,전통시장,3130018,동대문문구완구거리(동대문문구완구시장),CS300043,전자상거래업,10,10,10,1,0,0,0
1,1,20191,D,발달상권,3120165,서래마을카페거리(서래마을),CS100007,치킨전문점,0,1,0,0,100,1,1
2,2,20191,D,발달상권,3120177,신논현역 1번,CS300015,가방,3,3,0,0,0,0,0
3,3,20191,A,골목상권,3110508,서연중학교,CS200041,사진관,6,6,17,1,0,0,0
4,4,20191,A,골목상권,3110241,먹골역 5번,CS300036,조명용품,2,2,0,0,0,0,0

In [30]:
df7['서비스_업종_코드_명'].value_counts()

서비스_업종_코드_명
한식음식점     28826
전자상거래업    27646
부동산중개업    27493
일반의류      26783
슈퍼마켓      26599
          ...
변리사사무소     2383
DVD방       2283
중고차판매      1922
볼링장        1671
중고가구       1205
Name: count, Length: 100, dtype: int64

### 직장인구
- 성별, 연령별 인구 수, 상권_구분_코드, 상권_구분_코드_명, 상권_코드 -> 제거

In [1]:
import pandas as  pd
df8 = pd.read_csv('data/서울시 상권분석서비스(오탈자 수정)/서울시 상권분석서비스(직장인구-상권).csv',encoding='cp949')
df8.head()

,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,총_직장_인구_수,남성_직장_인구_수,여성_직장_인구_수,연령대_10_직장_인구_수,연령대_20_직장_인구_수,...,남성연령대_30_직장_인구_수,남성연령대_40_직장_인구_수,남성연령대_50_직장_인구_수,남성연령대_60_이상_직장_인구_수,여성연령대_10_직장_인구_수,여성연령대_20_직장_인구_수,여성연령대_30_직장_인구_수,여성연령대_40_직장_인구_수,여성연령대_50_직장_인구_수,여성연령대_60_이상_직장_인구_수
0,20191,A,골목상권,3110013,체부동홍종문가옥,87,57,30,0,11,...,18,14,13,10,0,9,7,6,6,2
1,20191,D,발달상권,3120062,신설동역,11307,4711,6596,32,1358,...,1343,1338,898,681,20,919,1300,2039,1677,641
2,20191,A,골목상권,3110023,서울대병원,131,46,85,3,34,...,6,9,10,12,1,27,10,18,23,6
3,20191,R,전통시장,3130011,충신시장,342,201,141,4,76,...,72,47,30,10,1,37,35,40,24,4
4,20191,R,전통시장,3130018,동대문문구완구거리(동대문문구완구시장),271,166,105,0,20,...,40,45,40,31,0,10,15,29,26,25

In [2]:
df8.columns

Index(['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '총_직장_인구_수',
       '남성_직장_인구_수', '여성_직장_인구_수', '연령대_10_직장_인구_수', '연령대_20_직장_인구_수',
       '연령대_30_직장_인구_수', '연령대_40_직장_인구_수', '연령대_50_직장_인구_수',
       '연령대_60_이상_직장_인구_수', '남성연령대_10_직장_인구_수', '남성연령대_20_직장_인구_수',
       '남성연령대_30_직장_인구_수', '남성연령대_40_직장_인구_수', '남성연령대_50_직장_인구_수',
       '남성연령대_60_이상_직장_인구_수', '여성연령대_10_직장_인구_수', '여성연령대_20_직장_인구_수',
       '여성연령대_30_직장_인구_수', '여성연령대_40_직장_인구_수', '여성연령대_50_직장_인구_수',
       '여성연령대_60_이상_직장_인구_수'],
      dtype='object')

### 집객시설
- 상권_구분_코드, 상권_구분_코드_명, 상권_코드 -> 제거

In [4]:
df9 = pd.read_csv('data/서울시 상권분석서비스(오탈자 수정)/서울시 상권분석서비스(집객시설-상권).csv',encoding='cp949')
df9.head()

,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,집객시설_수,관공서_수,은행_수,종합병원_수,일반_병원_수,...,대학교_수,백화점_수,슈퍼마켓_수,극장_수,숙박_시설_수,공항_수,철도_역_수,버스_터미널_수,지하철_역_수,버스_정거장_수
0,20232,A,골목상권,3110035,동묘앞역 2번,15,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,4.0
1,20232,A,골목상권,3110614,목동로데오거리,5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20231,A,골목상권,3110035,동묘앞역 2번,15,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,4.0
3,20232,A,골목상권,3110011,청운초등학교,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,20231,A,골목상권,3110011,청운초등학교,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [5]:
df9.columns

Index(['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '집객시설_수',
       '관공서_수', '은행_수', '종합병원_수', '일반_병원_수', '약국_수', '유치원_수', '초등학교_수',
       '중학교_수', '고등학교_수', '대학교_수', '백화점_수', '슈퍼마켓_수', '극장_수', '숙박_시설_수',
       '공항_수', '철도_역_수', '버스_터미널_수', '지하철_역_수', '버스_정거장_수'],
      dtype='object')

### 추정매출
- Unnamed: 0, 상권_구분_코드, 상권_구분_코드_명, 상권_코드, 서비스_업종_코드 -> 제거
- 월~일 매출 -> 제거
- 시간대 06~17시 -> 낮,
         17~06시 -> 밤
- 연령대 별 평균 매출 금액

In [7]:
df10 = pd.read_csv('data/서울시 상권분석서비스(오탈자 수정)/서울시 상권분석서비스(추정매출-상권).csv',encoding='cp949')
df10.head()

,Unnamed: 0,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,당월_매출_건수,...,시간대_건수~21_매출_건수,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수
0,0,20191,D,발달상권,3120037,동대문역사문화공원역,CS200029,네일숍,20393290.0,208,...,86,27,0,208,0,56,21,0,123,8
1,1,20191,U,관광특구,3001492,명동 남대문 북창동 다동 무교동 관광특구,CS200029,네일숍,73147711.0,2136,...,1270,35,59,2077,0,715,995,236,157,33
2,2,20191,A,골목상권,3110085,경리단길남측,CS200029,네일숍,3000000.0,40,...,14,9,0,40,0,8,28,5,0,0
3,3,20191,A,골목상권,3110166,구의1동주민센터,CS200029,네일숍,8443798.0,153,...,64,13,13,140,0,52,88,13,0,0
4,4,20191,A,골목상권,3110161,중곡역 3번,CS200029,네일숍,20756990.0,305,...,196,36,4,301,0,79,28,68,91,39

In [8]:
df10.columns

Index(['Unnamed: 0', '기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '서비스_업종_코드', '서비스_업종_코드_명', '당월_매출_금액', '당월_매출_건수', '주중_매출_금액',
       '주말_매출_금액', '월요일_매출_금액', '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액',
       '금요일_매출_금액', '토요일_매출_금액', '일요일_매출_금액', '시간대_00~06_매출_금액',
       '시간대_06~11_매출_금액', '시간대_11~14_매출_금액', '시간대_14~17_매출_금액',
       '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액', '여성_매출_금액',
       '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액', '연령대_40_매출_금액',
       '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수', '주말_매출_건수', '월요일_매출_건수',
       '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수', '금요일_매출_건수', '토요일_매출_건수',
       '일요일_매출_건수', '시간대_건수~06_매출_건수', '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수',
       '시간대_건수~17_매출_건수', '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수',
       '여성_매출_건수', '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수',
       '연령대_40_매출_건수', '연령대_50_매출_건수', '연령대_60_이상_매출_건수'],
      dtype='object')

### 임대료 데이터

In [12]:
df10 = pd.read_csv('data/서울시 상권분석서비스(오탈자 수정)/상권별_중대형_상가_임대료_20231122103930.csv',encoding='cp949')
df10.head()

  상권별(1)    상권별(2) 상권별(3)  2023.2/4  2023.3/4
0     전국        소계     소계      25.6      25.6
1     서울        소계     소계      52.2      52.4
2     서울  소계(도심지역)     소계      83.7      83.7
3     서울  소계(도심지역)    광화문      86.3      86.3
4     서울  소계(도심지역)    남대문      68.6      68.7

In [11]:
df11 = pd.read_csv('data/서울시 상권분석서비스(오탈자 수정)/상권별_소규모_상가_임대료_20231122103725.csv',encoding='cp949')
df11.head()

  상권별(1)    상권별(2) 상권별(3)  2023.2/4  2023.3/4
0     전국        소계     소계      19.4      19.4
1     서울        소계     소계      49.2      49.5
2     서울  소계(도심지역)     소계      66.4      66.8
3     서울  소계(도심지역)    광화문      82.5      83.0
4     서울  소계(도심지역)    남대문      63.9      64.0